<h1>What needs to get done?</h1>
<form action="/tasks" method="post">
  <h4>Your Task: <input type="text" name="name" id="task_name"></h4>
  <input type="checkbox" name="urgent">Urgent
  <input type="checkbox" name="less_urgent">Less Urgent
  <input type="checkbox" name="unurgent">Unurgent
  <br></br>
  <input type="submit" value="Add">
</form>
