<h1>Create Your Task Manager Account</h1>
<form action="/signup" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="text" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <input type="submit" value="Sign Up">
</form>
