<h1>Create Your Task Manager Account</h1>
<form action="/signup" method="post">
  <input type="text" name="user[username]" placeholder="Username">
  <input type="text" name="user[email]" placeholder="Email">
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Sign Up">
</form>
