<pre style="font: 2px/1px monospace;">#################+#######+##+##+##+#+'#+'#''#++#;##'+#;+#;+#;#++#+'#++#+##++#+##+##++#+##+#+++#+#+#+++#++++++++#+++'+#'++'+''++''+++'+;'+''#,'+:'+,'+,+':+;:+':+;'+''+''+'++'++;+++#+++#++#+++++++++++++
##########+##############+##+#####'#+'##++#'#++#+'#++#######+#+##+##+##'##++#+#+'+#+#+++++#++#+##++++##+#++##+#+++++#'++''+;'''++;++:+':++;++:+':+';+''+'+;++;'+'++'++'++:#+;#';#''+';+'+#++++++++++++++
+#########+####################+#####+##+#+'#++#'##'+#'+#:++;##:##;##'##'##'#++#+++#+#+#++#+##+##++#++#+++++++++++++#+++'+++++'++;++;+''+';+;:+;:+,'+:'+:++:++:#':++;+';#''+'++'+++++++++++++'+'+#+'#+++
#######################################+##+##'###++'##;#+'++'#+'#+'#+'#''#'+#;+#'+#;+#'++;##'+#+#++##++++++++++++++++++++++++#++++++++++++++;++;++'++:+','':+;,#:,+;,+';+:'+:'+:++'++'++;+++++++'''++'++
###################+#########+#+########+##+##+##+#+###+#++##+#++##+++#+'#'+#;'#;'#;++;'+'#+;++##++#+++++++#+#+++##+++++##+++++'+'++'+#'++'+#'##;#+;#+'+'++';+++'''++#''+:;+:++:+';+',+',+;;+';+;'+;++'+
########################################+########+#++#++#''#'+#;##;##:##:#+,##;#':#';+;+#++#;#+'#+'#+++++++++++###+#++++++++++#++'+++++++++++'+''+''+;++:'+:++:'+:++;++:++,+':++''+''++;++''+:++;++;+';+
############+#########################+###########+++#+###+#'+#++#'+#'+#'++'+'+#++#;+#;++'+#'#''#''#';+;'+;++'+++++'++'++++++++++++++++++#+++'++++'+++++;+'+++'#';+':#;;+::+':+,:+:'+:'+:++;++;+''+++'+'
##+##+####################+#########@######+#################+#++#++#'##+++'#+;#+'#''#''++'+;+''#;#+::+;+++''';';++'++'++'+++++++++++++++++#++++++++++'+'++'++'++'++'++'+;'+;'#:++;++;+;:+;:+::#:;+,;+;'
##########################+#################+##################+##+##'+++#++++'#+;#';#''+::#:'+:+';+;;:;;;;;;:'++:;';':'+''+++'++++++#++++++++++++#+++++'++'+#'++'##+++'++'#+'+''+''+'+';+''+;'+:'+;'+;'
##+##+##+##+#####'##+########+##################################+##+##+##+####+#++++##;+#;+#,+++;''++',,,,,,;:,::;;;+;.:;'++;'+'+#'++++++++++++++#++++#+++#++#+#++++++#+++'+''+''#;'+;+#'++;#+;+''+;;+'+
+#+##'##+##+##'##+##+##'#+###+##+#############################+#########+##++#'##+##'#+;#+:++++;''';'';;:;:;;;:,',;::;';;::':';'#';#+'+''++++++++++++#+++'#+++#+++##++++++++#++++#++#+++++++++'+'++''#:'
'#++#+++++#++#'##+##++#+##+#+###########++#+##################################+##'#++#+'#+;+;';'''':;;;;';;:;;:,';::,;`:':,;';;':+'+''#;'+'++'++++++++#++'+++++++++##+++#++++#+#++'+#++++++'++;++'++'#''
+#++#++##+#++#'##'##'##'##'##'##;##+##+########+#########@####################+####++##'+';;''::,::;;;;;:;;,,:;,,.::,,,,:,,.;::':':'':+';+''#++++'+'++++##+++#+++++#+##+###++#++#++#++++++++++'++'+''+''
######+#++#++#+##'##'##'##'+#+##+@#'####+#####+##'##+##+##+#############+########+##++'+;:';.,::::;;:,..,..::,:`,;,,:,.,.:,.`:';,,:;+;+:;+;'+;'+''+'#++++++#++#+#++#++##+#++#+#####+#++##++##++++++++#++
#########+#++#+########+##++#+#+'##;@++#++#'+#+##'##+##+###########################+++'+':,,',,:,,:,,:,.,.,,;`,`:.::`:..,,,,,.,,,,,:.'+::+;'';+';+';+;'+''#;'+''+'++++#+++##++###+########+#+#++#++#++++
######+####+##++#'##'##'##+#+'#+'####++#''+;+##+#+##'##+##+#####+###############+##+';';:,,::.,,,,..``.,,,,....`,.,.`....`.,,,.,`:,,:;';''`'',';,+':+;'#';+;'+++++++++++++++++#++++#+++######+##++#+##++
#+#########+########+####+##++##+#+##'##'#+'#+'##;####+##++##+####+#@+#####+##+##++;;';:,..,,:.`,.````..`...,.```..,,:,...`.,,..`.;;:.:;;;'+;.+::+::++:+;;+;'+'++'+'++''+';+++#++#++#+++++#++###+++#####
##+##############+#####+##+####++#######+#++####'+#+##;##;##;##;##'##'##+####+'+''';::,,.,,..,``..`` ````.`..`````.,,`..`,``..,...,.`;:.::';+++:;+;'+,'',+',+;,+::+;:#;;+;'+;+#;++'+++#+++###+#++++####+
@##@#####################+##+##+##+##'##'##'##;##'##;##'##'##+#####+###++#;;+';';;',.,:..:,`.,``.` ```` `.``` ````..`````.,,.`........,,,;,:','#:+':+';';+''+''+:'+:;#:'#:++;+';#;;+;'#::+;++'#+'++'++'#
###'######@##########################+##+##+##+####+'#'+#;'#;+@:+#;##,##'#:'';:',;;';:,.,,.``.```.`` ` ``` ``````.```````,``..,,..,.,,:,,..;,;'';+::+:'+,#+:++:#':++;+''++'+++''+;'+:'#:++;++;+''#+'#++#
@@#+######@###@#########@###@#####@+#@#############+#@++#;+#'##;+#;+#:+#:++;:;';,.;::.`.`...`.``````  ` `` `  .`,``` `..``` ....:.`,.:`.,:::;'':;':++;'''++:+':+::+;,#,:+,;+.++,++,++:++;++'+#+++++++++#
#######+################+#############@###@######+##+#++##+#++#+'#'+#'#';;';::::;:,,..`,``.`` .`` ``` `  ` `````` ```..  ```..`. ...,,;.,:::,:';'++'+';''+++++++;++:'#''#,'+,+''+:;#:;+;++:++'++;++;#+;+
############@@###########@#############@##############+#@++#+##'##'###':'':,::::.,,,.,```````` `. ```  ` ` ` `   ``` ` `..` ````.``.,`..,,,:.:';':';+;;+:+#:+#;++:+':#':+':+''+'+''+;'+:'+:+':++:++:+;;+
#####+##+#########+@##@###################@####@#######+@######++#++#';:;'',;,,,:::..`.``` ````` ` `       `    `  `  ``.``   ``..```. ,...,,::;,;;;'''';++;+';+';+;:+';#;'#;'+:++,+',++:++;+''++'+'+'++
##'##'##+##+##+##+#+#########################@#@############+##+##'#';+:';',;,;:,,'.,``.` ``  ` ` `     `   ` `     ````    ```. ` ```,`,``.,.:.;::;''++'+'+++'+'++''+'++;'+;++;'':+;;#:;#;;+;'#:++;++:+
##+##'##+##+##+#######+##############@#####@########@######@###+###'+'''':;;,';.,:,.... `  ` `   `            `   ```    .`` `   ```...``..,.`,.:;;,';;++++'+#'#''+''+''+;'+''+'++'#;'+''+;'+;'+:#';#;:+
##'+#+#++##+#+##++#######@+#############@###@########@####+#@#@###;'+'',#;,:,:.,.,.,.``  .   ``                 `` ` ` ` `  `   ` `...   `,,```.,',:;+'#'++'+++++'+'+#'++'++'++;#''+'+#';+''#;++;+':#;;+
##+##'##'##+#'+##+#+##++#+##+#######@###################@######@#;';;'+;:;:;,,,.:`..,` . ````` `                    ` `  ` `  ```` `    .,...`.:.:,;;';;+++'#++#++##++#+++#+++'+++'#''+''+;'+'++;++:+';+
##+##+#####++#+#++#++#+##+##+#####+#################@##@########';:;'';':+;;,:,,... `.  ``` `   `                ` `    ` .`  ` `   `  .,,`` `..,,;,;:+;;+++++++++###++#+'+++#+'#+'++'+#'#+++++++#'++'+#
#+'#++##'##+#'+##+#+##++#+##+##+###########+###########@@######''+;';''':,;,.:.,.,`.  ``` `   `                         ``  ```      `... ` `..`...,:;'';#++++++++#++###+#####++######+++#+##+#++#+'#'++
@++@++#+##'+#;##:++'+#;##;+#'##;##+##'##+#++#+####@########@+##++++;:'+;,,:.,;,.:`,.``` `  ` `   `                    ``   `.  ` ```` ` `` .,.. ,`:.,;::;#+'+'+++#++++#+###########+######+#++#+##+++'+#
##+########+#'+#++#+#+++####++#+#++#+##+##++@+##'##+##+##+##+#+'''';;''::,..,`.,..`.  `` ` ` `    `              ``       `.   ..`     `` `.,```.,,,::;;;;+'+;;#'++++++++#+####++####+#########+##+##+#+
##########+##+##+##'##'##'##+##+#++#+'@#+#+###+#####++##+##''#''++'';';;:.;;..:.````. ``   `  `                ` ``     ```  `````    ``..` .```,,.,,;;;;'''+:'+;+':+';++;#+++++#++###########+##+#####+
###################+##+##+##+#++#++#++#'+@'+@;##'##;##;##;#;+'::;':'::;:`:;..::.,`.```  ``                                   .`  ` `````` `  `,...,.:::;;::'+::+:;+';+'++'++#+++#+###+#+#+##+#+###+++#+#
@###########@###+###################+#@##@'@#+##'##'#++#+;#'';::';+':,:`::,,,,.:`.` `                                     ` .   ```   `  ``.,.``,`.,;.,;::':'.:+,;+:'#:'+;#+'++'#+'#+++#+++#+##++++#####
##@########@@##@##@##@#@#+####@+##+##+#####+#+####+'#+'#';+';;;';;';':,,':.:..,`,.. ``         `                         .  `        `  ``,`` ``.,,:.,,;:;';+;;'.''.';,';,#;,#;:+;'+;'+'+#++#+#####+##+#
####@##@##@#@###################@#+##+#+##++#;+#;##;##:##,#':;+'++;+';;:::,:.,```.``` .  ` `                                ` `  `    ``.``  ```.,.,`,::;;:;';';:;';';;';'#:'#;++:+#;+#'+++#'+#'+++#++##
#########@@@###@#####@@####@##@#######@##+#+##+#+##'##'+;+#''+'''::,::;:;,;,:.` ````   ``     `                            `.`` `  .````  ``..,`````,,;:,',:;'+',;+,;+,'+,#+:++;++'++'+'++++'+#'+#'#+'+#
##########@@@###@@#@###@###@#####@#@#########+##+##+##'#';+++;+;;:,:,',;:,,:,..` .`` `` `       `                         `` ``  .`` ` `  ````.. ...`.,.,',;:++',''.';:+;,#::#::#,;+.;#:+#;#+:##;##;+#'#
######################@@@@#@@##@#@#########@#+##+##+##'+;+'+,+;;;,;.;:.;:;:,...`    `                                   ` `  `  .`       ``` `  `.,.,:,.,;:';;;'';':;;;+;;+:'+,;+,+#,'+,+':#':#';#;'#;++
######@##@#@######@@###@#@#####@#@#@@##@###+##########+++++',+''.'.;;;;,;..,.``````` `` `     `                               .```   ` `. ` ``  ,.,::,,.'::',:';+:',;':'+,+':++:#;;+;'+''''+;'#'+#;+#;'+
###++###+@###+#######@##############@###@#####@#######;;+++'#'+,+.,;;:.;.,;,.``:`.`.  `  `                                     ``  ` ` `   `` ` .,.`.:,,;',':;:;''+,;+:'+:++:+':#:+#:;#;++,'+,+',#':+:;+
@#########+#########@##########@####@@@###@@##@#######+;#+'+:+;',,,:,,;.,::,.`,`. ` `  ` ```                                   `` ````     ``  `,:..`.,;,;,',';'+''''#;;+''+'';;+;'+';#:'+,++,+',+;:#:;#
####+@####+####@######+#@@###@@#@###@##@#####@@#@#####'''':'#';';:,;':::`::.`:`.`` .```  `                                     `             ```.,``.:,,:;:':':,'++'+#''#;++;++;+''+':#;;#;'+;'+;'+:+;;+
##'##'##+#+#@'+@++#+##+##'################@##@###@###''''++';,+;;;,:.:`,,:,`:`.`.`` `   ` `     `                       ` `       `  `  `` `  ``.`.``;.:;::#,'';++'+'+''++'#+'++'#++#+#'+#'++'++;++:+':+
#@+########+##+@#'#####+##+######@########@#@########;+'',;,;::;:,,,,;:.;;,:`` `   `      ``          `                        .   ` `   ```` ``. `,,:..'::+:';''+++'++#++++++#'##'+#+#+'++'+';#''+'++;'
+#++#+##+##'@#+#@+##+##+##+##+######@##@############;;''#+'+:';;,,;,.`:,`;..,`    `    `  ` `  ``                            ` `  ` ```  `.``,`````..,,.'.,+,';'''+++++##+##+##+##+##'##'#+'#+'#''#;'#;'
###+###@#########+####+#######@+#@##@+##+#@+##'##+##+#':;+;;,;;,:,:.;.:,.,.:.`` `` .    `      `    `                      ``` `` ``.    ` ` ```````,..,';;+:;;+':+++++++++##+#####++#+##++##++#++#++#'+
+###@+#@+#@'#@+#@'##'##;##'##;##'##'##'##+@#########:#+#::;.;.;:,',:;..,,,,.`````   ```  ` `                       ` `` `      ``` `      ` `` `.,`..`.;;,'+;;:'+'#+++++++++++#+++++##+##+++##+##+#++##+
##########@###++#'##'##'##'#++##'##;@+'#++#'#@'##++'##''':;:::;:,,:,::.,,,.:...``` `    `     ` `                        ` `  `.   ```.```  ``...`...`.',;+''';',+:+'+++++###++######+#######+##+++#+#++
######@###@###++###########+###+##+#@+#@++#'##;##;++;:+,#'::;,:::+',,...,`,````.    ` ` ``  `          `   `             ``.`   ` ``````` `.`.``.`.:`:.',;'';';;:;'##++'+#'#++#++#####+##############+#+
##@@#######+#@###+##'##'+#'#@'##;#@;##;@#'@+:##;#''''+++:;,;,;;'+,,;,.;:::,,``.````` `         `               ` .   ``         .`.` `` ````.``,`.;.`,:;,''''''+';'#+#';++;++'++++#'##+##+##+#+####+#+##
##@##@##@##############+##+#@'##+##'##'#+'#';@''#'+#++:++;;,+'+;;;',;.,:..:.```  `` ```  `    `                               `.``   `` ```.`.````,,.;:,,':;:;+;':+:#++:'''''++++#++#'##+#+++#'+#+++++#+
@#@@#@@#################+##########+#@'##+##+#';#;''+:;:;:;''';';::,:',::,..``` `  ` ```   ``                       `    `.`` `    `. ` .`.``````,:.`,;.:+,;;;#;+:''###,;+:++;++'#+;++'##'#+'+++###+##+#
#####@@#@#########################@##@+#+'#+'#''#'##::'::;,'+:;;;:.:.':,..`,:. ``` `` ````.`                            `    ` ` ` `  ``. .`.`,.:,:`..'.';.';;#++:''+++:'+.'':+';#':+';#''#''#''+++####+
@##@#@@#@@#@##@################@##@#@######+##+'++#+:;;;;:;+'+;'::,.'.':::`.`. `  `` ``.    ` `                         ` `    ``` `  .,`..`,,,.`....:::,:,'+'+++;;+++#,:';'';'';+';+;'#'+#;+++++'#++#+'
###@#####@##@##@#################@@#@##@#+##+####+';':+,;,'+'':',::';;;:..``:`.,`.      ` `  `  `  `                 `  `  ``.` ` ` `.`  ``.```````..:;,:,;+++;++;;+###,:',';,+',+':+;:+';+';+'+''+++#;+
#####@#######################@#####@@#######+#@#'''';;;+;'++:;;;'+:;;;.,:,,. ,   ``` `  ` `    `   `                ```           `..```````` `` `...,,,':;''+:+;',''##+':.+,.+.,+::#,;+,;#:'',+;:#':#';
##@#############+#######+#@##@@#@@@@#########@#''+'+';+++;',+;';',;;;;',;,,,:`.  ` ` ` `  `  `  `                  .   ` ` `    ``.``` ``` `  `,..```,.:,';';+,+++:;'##++,,+,:',:+::+:'','':'::+:;+:'+:+
+#@###+######@#@#######@####@##@#@@@@###@#####''+;#;'++++:+''+;#`:,':,::;,,``,``````. .``  ` `      `             `     ` ` ``..,``  ..``.`````.`.`.:.:.,':;'',+;+,''++#+:,+,;+,;+:'+:+':+;,+:,+,;+:;','
##+##'#####'##########@#@#######@#@###@##@@#+++;;#';'+'#;++:':#.'`:;,::,;,.,.`,.`,`.`` ```  ``   `      `             `   `.`.``   `., `..,``.`.,..,...;':,';'.;;#;:''###:;':'','',+;,#;,+:;+,:',;',;;.+
#@+#@#@@+#####+@################@##@####@###+;+;++';'+''',#':+.+.,''',';;'.,`,`., .   ` . `  `    ` `    `     `          .`   ` `  ..`.,.`..`.,,..,;:;::::;'':''#'::++##;'+;'':+;;+;;#,;#.;+.'',+:,+,,+
##+@#+#@+##+##+##+#++##+###@######@@#@###@@#':'++++:;+':':'++.+.';'';+;:,,.,.,,``,`.`  ````` ```     `                    `` ` `` `.````````.`,.`.:;::;,;,,+:'++++#:::###+#+;'';+';#';#+'+;;';+';+;'+:'+
##+##'##'@#'##+#++##+##+#++###@##@##@@#####';;''',,'+':++:';,#,'';++,,;'',,`..,``````   ` ` `  `  `                 `   ` `` ` `  ,.```.````...`.`.:;::,.,;''++;+++:;:#;#+++'#''#;'#''#''+;'':+':+':++:+
#####+###@#####@++####+##+##++#+#@##@+###@;+;++#'+';+;'+,:,;+::;.:+:'::;:.,.`..` `    . ```` `  `   `                    `  ` `` `, ` `.``````.,,,::.,;;:':#++';#'#';;++##+#+++#+++#'+#'++'#''+';+;:+::+
#####+##+@#+#+'##+##+##+##+@#+@@#@@######@'#':#;;'+;+++,:.'+.,;:;,:+#;+.,:,,:` `.``  ``,``  ``   `     `               ...`` ```..```.,` ``.```,`,.,:;;::,:++;++'+#',''#++++++#++#+#++#+++++'++''+''':'+
########+@##@++@++#+'@++#+##++#'#@+##'##+'#+:'#'::,';;';:';.:',+'+::'#':.::..:.` .` ` ` ` `  `         `    `   `   `  `.`.` ` ````` ..`````` ..`..;;::;'::'+''#;++#;;'+'##+++++##+#++#'##'++'#+;++'+';+
#@###@###@#+#+##+####@##@+#@'#@'##'##+##'+#'+:;:#;'#'';++','++;,+;++;:,';:;;```,` `````` `    ``    ` ``,..````.```.````:...,```.`.,,,``.`...,.`.,:,:';';;',+;+#:#'#;''++##++++#+######++++#+++#+#''+''#
#@#@###@+#@+##+@##@##@##@++##+#+#@#+#'##''#+:':'+'',:',;':;'':;;'+'''':.;..:,.```. `` ` . `    `     ````.,,`..,:.,.,..,,.:;:,`.,`.`````,`````.,,.;';';'',#,#+'+'+++';''##+#++++++##++#++##+#+#+##++++#+
@@#@#@@@###+#@#@##@@+@++@++#'#@'##;##;##:'++#:+;+++';+:::+';,':+''''+''::::.,,..` `  ` ``  `      ` ```.`::`,:,;';;';:,,:,;:,:'..`.. ``,.````..',,:':+':#;+#####;++#+++'+#:#'+''++##+##++##+#+##+##+##+#
@##@@@@@#@@#@##@##@###@+@@@@#+##+##+@++#;:;+',;,',;'';+::;:+;':';+;+';.,',;:.. ` ` `` `  .` ` `   ` ...,,;.::'++#####'##+;:;'',.,:,..`,.,`` `:;':,#'#':#+##'++'##+#++++'+#+@+'++++++++##+++#####+##+#++#
@@@@@@#@@@@@@@##@##@#@@@@##@##@#+####'+#::;+:;;;'+:,':.:,:;.':+;+;+;''':;'::.``,```  ``    ```   ` ,;::,,;'+++'+++#######+';,:::,:,``,::.. .`,;'',+#+,+#+##+;+##+++#++''#+'+;;+'++'+#'++'#''#++++'++++#+
@@@@#@###@@#@@#@#@@@@@@@@@@@#@@##@+##+##+';'+'++;'';'';'+:'':'+:++'#';.;+,:::.```.```       `   `...:,':;'#+'''+#+#+####'+'#+';';:..,',:,.``,,:';;'+'+####;'#+##+'+'++':#+#'+:+,;';'':+';+''+;'#''#+++'#
@@@@#@@#@@@@@@@@#@@@#@@##@#@##@####+@#+@+;;+';'+';,;::.,'':::;;'#:'+''#:;';;...,``..` ` ` `  .```.:,,,:;++;;,'+;'#+;'#+#+#+++++',,,.:::;,.`.,`';+#'+++##+#####+#+'#'++:'++'++,+,,+::+:'+;'';+';#''+'++++
@#@@##@@@@#@@@@@#@@@@@@@@@#@@@@@#@#@####;;'+:;:,;+'';,;+:'.':+'#+#;+'+'::;`:,,``.:  .  ` `   `. `.:.::';:,;';';+#++##+##+##+++';;`..:,,:,.`,:,;#+#++################++;;'+++#;',,+,:+,;','':+;:#;:+';#;'
@@@@@@##@@@#@@@@@@@@@@@@@@@@@@@@#@@@#@@#+,+;';+''#':''.:'':+'+;##'#'+,+,;;;,:,,,```  `  `   `.  .,,:;;::;:'+:'+##+#+##+++'+++';+,..;,.:,..,.,,#####@######+'+##'+#'##'+##+#++++,.+:,+:,+:,',;;,'::#::+;;
##@@@###@@@#@@@@#@#@@@@@@@##@@####@#@@@#''#+;;'':,';.,'';+':,''#+#;''+:'::',...`..``       ` .```..;;;;;,''+'+#+###++#++#'';:+;+;:,,..:,.`,.;;##@#+#####+######'##+###++##++';';.+,.#,.+,,'.:',;',+;,+;;
#@#@@#######@@@@#@@@#@@#@###@@##@@#@@@@#'+'',+;,;;,,;;:,;+',':+##:+;+;+',',,;,,```.` .`` `` ```.,,`;,:'+''+#';'''''++''+++##+'';':,..,,,``:,'###@###+#####:####;'#;####;##++'';;;+:,+,:',:+,;'.+'.+',+;,
+#@+#@+####@@@@#@@#@@#@@@#@@@@@@@@@@@@@#''#''''',+':,,'',';,';'#+#'++'+:+'';`,`,. ``` `` .`````.:..:::''+#';....:.,':+'+#'+'';:;,.``.., `,`.+++###+++'#########+###'#+#:+##'+'++:'+,'',+',+:,+:;':;':'::
+##+@#'@@###+##+@#+@@####@##@##@#@@#@@@#+'#'';++';:;';';:;,,;++#+:''+++#'':,,.....` ``    .`````,`::';#+';:``````,.,'''+++'+';;`,`````` ..,.++###+'##@##++####+#'####++'#++'#';+''':+;:+:,+.,+.:+,:'.;;.
#####@############@@#@@@@@#@##@@#@@@@@##++;+:;';,;,.:';,:;`,;'##+#+'';+';::;;., . `````    .```.``,:+'+'.`.``  ```..;:';'':;,:,`.`     `.`,.####'+##+':';;;+###+#+#++#++###++++'''''';;+,;+:;+,''.''.+;,
+#@'##++#'##+##+##'##+##+@@#@@#@##@@#@#++;'';'+:+''::,:.;;..:;++++;'#'';';::,.`,,.```` `  `.``.``.::,+;`.``` ``....;:+'''+'',,,`. ```` `,.,:##+'+##++';':':+++#'+;++'+++##+#+++;;'+'++;++;+';++;+';+'+;;
+#@####@@+##+@#+@#'@#'@#+@@+@++@+#@+#@+';+##;+#'';;:;;.,;::.:++'#;+##;+:+'',..````,` `` `  `.``...;,+:.`.`.,;++'';:,:::';'''':. . .`  `.`.:'##+++#+''::::,:';++++#;';#+++#+#+'':;++'#+'#+'+;'#''+;'+:++:
@####@##@####@+#++#@+##+#@'+#++@'#@'+#;;:##';#+:,,:+;,.;:;;.:'+:+++'+#';++:,.,:,`. ``` ``` `..`,.,:',,`,`,'+######++;:;:,;';;:.`.````  ```:'#+++#'';;:..,.,;'+:'##;+,''+'#'+++';+++##++#++#'++;++''';#';
##@+#@##@+#@+@@'##;###@@'##+@#'@#'@++#++'+#''',,';:..;',:;:.;';;'''#+++;;;':`,`:..` ``   `` `..,;,';:`:,;#+####'+##+'';::;;:::.````.   ` ::+####+#:,;;,,;.,':';;'###;;+++#+#++'''++++++#++#++#++++++'+''
@@@@@@##@@@@#@##@####+@#+@++@+#@;##;+###+++#++';+;'::.,:;;;`:+'+++++#;'';'.::,,````.  ``` ```..,::,,,::+;#+;###++;,:'+;,:',;`,`,`` ```   :.;++##+,,.;;';+'';:'::;+#+#;;++#'##'+++####++#++#+##++#+++'#+'
##@@#@#@@@@####+##+##+@++@#'@++@''#'+#+'#'#++::+.+;';:'',;;::;+++''##'''':;::.,.````.  `````.,:;+:,;:.'+##+:###'';:.''':,;:,``` ``` `  ``.`'+###:,,,+######+''':;+#'#':+##+#+'##;'++####+##########+++++
###@@@#@@#@@####@@+##+##+@+'@'#@'+@##:+''+;+:,:,''+'';:.:::';+:+';++;#'+;,,,`.`..` ``  ````...;:;;:,:'#'++'#++#,:;,`;'':,:,`, .``  ``   ``.:+#++++:+++'######;+'+++'#++'####;+#+'+#'##+##+##+##++++++#++
@@@@@#@##@@#@#@@###@##@##@+##+@@'##;+++#:.'++;;;;++';;;:;:';+:;'+:::#'+#;:.::.,`.`` ` `````.:.,:.:'+##+,,+':;,:,',..::+;...... ` ````   ```.'++''+#+',,###'+;#+'+++#+#''##+#+':+++';#+'#+'#++###++#+##++
@@@#@@#@@@#@@@@@@@#@##@@##########''++;+;;+#+#';;;;+++'+':'#'';+';'+##'#:,;:,;```.` ` ``.`.`.,,:'''':,,`.::+#;++;,::,':;;``. `  ```` `    ,.:#+'##':'+####;':;#+'+++;':;####+'''++''++++++#++#++++++++++
#@@@@@@#@@@@@@@@@@@@##@##@##@##+#+'+;:+@###+:++;;,:#+;:;,'':+:';+#++#'+:'',,:.. ``   ````````,,,````.`,,...:++:.::..,:;:;`,``` ```  `    .`..+;#+,,:+;,+#';':;'#'+#+'+'+#######+'+';+''+''++++++++#+++++
@###@@###@@@@@@@@@@###@#@@###@'#+';'#+#;#++#''+,'++#+':,.';'++++##+'++;;;:.:.,..```      ``` ``````````,....::.,::....,,.`` ```.  .``    ``,.+#+'':,:+;;,:'+,;+#++++'::+####''#':+::#:;+:'+;++;+;;+''++'
@#@##@@@@#@@@@@@@@@@@@@@@@@@#'##'#''#+#;+@#'+''+''';#':,#+#';;;+'##+''#+;;',:..`` ``      ` `````````.,``..,,...`..`,.:..:. `.` ```.      ``,,##;:;;.''+''#';:;+#;#''+++###+###'.+:,+,:':;';'';+';+;'+;+
@#@#@@@@#@@@@@@@@@@@@##@@@#@+#+'#+++'''##'+++';+++:';+;#++','#+++####'#:':.:.,`` .`.``  . ` `` ``   ``..`` `` ``.`::;'+';.```` ``````    `,`:;+++';;:,:+++';;;;+#+#+#++#####+##:,',:',;':+;:';:+;:+;;+';
####@####@@#@##@@@@@@@@@@@@##+;+;#:;''#''++##+#+++'';#+'';''++;;#;##'+:;;';..```  `       `  ` `    ```.```..,`::::'+;',;` `  ` ``.     ````:'+#';';;::;,:,'+';;'+#'+++##+#'++'..+.:'.;'.';.+:,+,,+,:+;;
######@@@@@@@@@@@@@#@@@@@##++:;,@:#'''#+''+'#;'##+#'@'#+'+;+#;+@@#++'':;;,.,..` . `` ` `  `` ..`` ` ``````,.,,,:;;';:;';. ` ` `.  ```    ``,`'++::''';::';::+';+++@++''##+##+##:,+..+,,',::,;:,',,+,:+:'
'@#+###@##@#####@##@#@@@@@;;#;;#;';###+:+;#'+#'#+++#+#+';;;#:##+'+##+#';;`,,,.`.`. . .   ``` ```  ``  ````.``.;:,;:,:;:.`   ``.```````  ` `:`:''''::;''+,:'';''+##+#;'+#@######.,+,,#,:',:'.';.+:,+;:+;;
+###@##@'###@##@@#@@#@@#@++#+;#'+#+'#'''#+'+';#+':;'+#'':'+;+##+#+;##''':.:,:`: ,```. `    ``` `. ``` . ````.,,;,,:,,:,`    `,`.``.`` `   .`:,#'+;;;,':';'';:''###'++:'##++#++#::+:;+:;',';.';,+:,+,,+.,
'######@@#@##@##@@#@@#@##+#;+'+;+,;+.+'+,+;;#'#':;;:+;++++;'@'#';+##';;;::,,.:`;````     `   ``` ```` ` ``` ``.,`.,`..``    ``.` ````.    ``::+#++;;:::;+'+'++''#+###;'####@##+#;+':#;:+;:;;;;:'::+,:+.:
'##'@#+@#+@##@++@'@@+##+#:@+,'+::'',.+'+';##';;,+#',++':;+'@#+##'####';:,,.,` ;`.``      ` `  ``  ``..` ``````.,`....` `    `.```` , ``  ` `:;+##++;.,;;'''''++;++###:+#####+'+#'+''#::#,:+:;+,;',';,+;.
####@###@+@+#@+#@+#@+#@##@',#+''':;,';':+++'';'+++;'+;.';;#''++##+#++'::',;`,,`. `.`   `   `  ```.````.`````.`.. ,, `       ` `.` `  `,` ` ;`'''+;''';':;:'';'+'+#+++++#####+#++'#+'+''+;;+:'':'':+':+;,
+#@+@@#@#+##'##+@@+@#'@#;+'#:#+,.,::;;'#';'#:+++;'+:'.;#:#########+++',+,;..``,`,,.:  `    `  `  ..``````` ```.`.```   ` ``   ,` `.```.   : `::+++;''::':::'''+;'+'#;++###'##++++++'#+'++'++'+''''+;'+;;
#######@#######+@#+#''@###':#:;''::;:;+'+:+''++;++'';+'';;+'###@#''#;:#,;,,,:,`.``: .  ``` `     `..`..`````...`   `    ``  .``````. `.``. `:`''+;;;+:;;';';'',++##+;'+#+#'#+'+++#+##+++;'#';#;'+;'+;+';
+##+#@+#@+###@#'@@+@#'@:+'@'''+..;+,''+'+:+''+''+#+';':,';+#++@#'#';'#.;,`,.``:`,.`, . ``  . ` ` `..,..````..`````  ` `   ` .  `.`` .``.  ``:`;'''+'':;';;'+'+++''++,''+##+##++++++##+++''+''+'++'++'+';
####@@+@########@#'@#####:#;;#''++;+'@;,#,+';:+;'';:'';+'+#######+#;#,::`,`:;,.:`., . .  ``````` ``,,.```.`.`````  ````   ``.` ````.`,`.  `,``,:#+++;;;.',;;::;'++;;,;:+##+###;#'##+##+++++#+#+#+++++++'
#@###@@@@@@@#@#@@+@@+##+#';@++:;,:;###+.+,+'+''##;;,'+;+#####@###+;+,''.;`;,.`, `,`.`, `   ``  .``` ```  ,``  .`   `  ``   ```.,`. , `.`  .  ;.'+'#+,;',:',++;+#'#:+,''+####@++'##+#+#+##++####+++####+'
#@@@@###@+@@+@#+@@+##+;#+,#;:;.#'::''';##;''+#':+;.;':'+###@#@@###;;;',+.;:;;,`.. ,`,`. `.` .   . ```..``.`.. ``  .  `` `.,````..`.`, . `` `..`;+';'';:',;;,:,;;++:+.;;+#######;#++++++#+++++#++#++++#++
@@#@@@@@@#@@##@#@@#@@#++:#'+#;+:;++;+,;++''+;+:'+';:';';#++####@#';#,.#.'`..``:.`:`.```` ``  .    .  ``,. ``..` ``` `.`` `.`..:`..,`.`. `   .`:,+''#+'';;,;';''':::'::;+###+#+##+';'++'++'+++++++#+##+++
@@@@#@@#@@@@@@@@@@@@##'';'+';:;';,:,:;+;:+,#'#',''+'+;:@#'+##@@##+,,;+.'`,;::.`,;`.```` ,  .   ,`` .``` ,,  ````.` ```.`....::`:```..``` ` .``','++'+;+;;;:,,,';:';;':'+##+'@@''++#;++'+++#++++++++++##+
@@@@@@@@@#@@@@@#@#@@@#''++'+:';''#''.;:.+,'''';;'#'#':#+++##+@@@#+'#+.',':``.,,...``.``` , .:  `:.`` ..  .`.`    `..`,`:,,;.,:..`:``.` `   . .,.'#+''':;,;;;:,':;,';#'+'##++######;++':+;;+;'+'++'++'+++
@##@@@@@#@@@##@@@@@#@#+'#+',.:+++::,;;.;;:';:+;',+#''';:'#@++@@#'';,,+.'.,':`,``:,.:`: ` `.  `````.`` ::   `.` `` ` `,..,`;...` `.``.``      .,:+#+#;;:;,.';;.'.;.+;+#+##+@###'##'++'::+;'+;;+''+''+'+++
@@#@@@@@@@@@@@@@@@@#@##+;#,,;';:';'::,:,:,:,;:',+#'##';#'##++@@#@#+';,+`,:.::;:, .,.,..``.`````,  .:,````, `  `..``.,.:,',:``. .```,`..``` `.,.:+#'#++:,',;.:,::,::''#######'#####++'::+;;+;'+''''++'+';
##@@@#@@@@@@@@@@@@@@@##'',:+:+,+'+;;';.:.''::;#+#;##+'#+@#'@@####',..#,:,.;...,`:``, .`,``.`.,` ..``,:`` .,` ` ` .,,.':,;..,....`.`..`.`.,``;.,.+++##++::,.:,,.;,',++++###++###;+#+#;+:+;:+:;':;;:';;+;;
#####@#@@@##@@@##@#@#;';':';::'';:+:;:,;;:,:';'+++'#'#+###'#@##@@#+';.+;.',;::;:`:,`,`,,; `.`.:``.,``,..```...` ``:,.;:.;`.,``,,,.`.``.,`.`;,.;';#++#;''.;.;.;.;:+''#+;##+#++####+#:;;;':,':;;:;;:+;:+;;
@#@@@#@@@@##@@#@@##@;+';#++::+';.+.:;..,:.;++;##@:###+#@#@+@+#@@#+',,+,,'.'..``.:,.:`..`., `.`.:.`:..` ;. .. ..,``..,,;,;,.`.;.,`;',,,,,:;;;''+##'++##'',,.,`;,;;+;'#+;###+#+;#:#++#+++'.:'.';.'::+:,#::
#@##@@#@@@@@@@#@##@@+++##'+:'+#.#.;:.;`::.,':###''@''#@#++#''@@+#@'+;`,;:',.;::::`:,`;,,`.:``,``, .,..` .. `,  `.`,.:,'..``::,:.+#+'+:',;:;'+;''+#####':','.;.'''#+;'';####+##+##+#++++++;::;;,'::',:',;
+@@+@@+@##@+#@+#@+@#'+##'#'#:'.;:,:.',;,::;,++#+''@#@@#'@#+,+#+'#@;,:',,':;`.```.;``;`:.,.`,, : `,`..,.```..`````,,`:,;``.,;;,'+##@####+';;;#++#+#+##+;;,,..:.;:+++';:'###@+++';#';#'+'+':;.;;.';.+;.+:,
##@#+@#@##@##@+#@##+#+#'#+',;`;::,.,:.:'+;.;'#+#'@@@@'#'+#+,'++###+'::,;.':::;;;,`,;`;.,...`,  ,`.:, ``..```...`.,,,,.,` `,:;'+########++'#';''#'++###@'''.':;.;;+''''+####++####+##''#+::;.''.':.',.+,.
'###@@#@#+@#+@#+##'+:';';:;;.;';,,,.:+';.'+#@;#'@######+'';:,+#@##.::;:,;.:;..,`.::,,`,`:``. .`.,```.``.`.` ``.,,.`,.``````;:+++++++####++'+####+'#+#@##;''::,.,:,#+#+;#+++####+;++#+##:;';,:',:;:'::',;
#@#+@#+##+@#+@+##+'++#'::++;+',:;'+,,:#++.;#:+;@@@@##+''#+'',.+'';;::`+;.;,::;;;:.`;`.`,`;` :`.` `: .,```..,`.,`,,;,`` `  .:;'''::,';+';++++'@#+;##+###'',,'':+,:',##''#+#;+'+#####+;'+###+,:+.;+.'','',
+@@######'@#'@@;+;;'''''##';,+'.,;''''',''++#+@#+;@@###+,+;`..;,',.,+;.,+,.+'.,:,,;`:...;`;.;``;``,.`,,`.``.:``.,,,```  `.``;'+';:,:;';+''+###+##@###@#'+',::+;+;'+'##+++#####+#;#'#+'@;#++:'':;':';,+:.
##@'@@+@#'@#;@#'#''##;+:+;..';;;:;;:,+:;.+++@#+#'#@@##:;#'++.',;::;,.:',.',;,;;;'.`'`` ..,,:`:``...,```:,. .`:,..;...    `..``,..```;'##+#+@+#####@@####;;',',';;#+##',#+###'##+#+;#,####+#;;+::':;':+;:
@#@@#@##@@##@#+#''+'+:.+';:';','''.+;+'#+'+:++@##@+@@##;:',,',;.:,.'+:.;':,'',..,,..;`.`,`. ,`; `,.`:.` ,:.``..;.,`.``` ` ```..````.:'+############@##+#+,';,';+''+#+;'##+#+'#+#+####;##+++;;#:'':;':'',
##@+@@+@@'####@#'''+#;++';':';;:,:''+::+:,+##@#+@####@@+:'+::'.,.:,,,+':.':,,,;;;.,,.;`..`,`..`. `:..:..,,..`..:...`` `.`   `..`  `,:,:''+#+###+#####@##;';;;.':#+;;;'##@++#++###'+#;#+#+;+''+;'+''';+';
+#@#@@#@##@#+@+'++':+#+'','+',;++'#+:,,:#+::'####@+@@@#;+#;,,,;,:.;'.,,':.',:.:``;.`+`;,`:`:`:`.:`.:``,: ,`....`.``, ` ` ````````..,,.::+':++#'#########::';':,',+'+##+#####+######+++'##';++#''+'++'+''
###@#@@##@@#@@+#'#'#,'#;;;.;;';:':;,,##+#;;+##+#@@@#@#@@';;:.:`,;#:++';.:;,:'++'.`.:`:.`:...,`;`,:,`...,.` . ,.`.`` , ``  ,` ` ..,,:`..',,:''#+'+##@'#+#''';;+;';;++#';######+##;###+:#+++'+++++#+++'+';
##@##@@###@@##;;'+#+;;';;+++#',:,,,;+:,;,#+''+##@@@#@@##'+.+:,;,',':';;':.',:,,.;'`.:`.:`,,.:`..,.,``:``.`.```,``` ``,```  .``````````,;,+;::++++++#++#+++;:+:+++;++','+###+##+##+##;#;+'#+'##++###+++++
###@@##@@#@@@#'';,#++#';.:+:;:,:,,'#+#'+'+:;+###@+###@@@;,+;;''',',';;,,;,.;',:.`,;:.,,.`,,,.:,`. `,`..`,..```.,.,``.,``..`,`..`````,,:::';;+'++#;+#++''#+';:::+;+''+######'######+###:''#''+#++#+##++#+
@@###@#@@##@@++'#'+'';+;+';,:';;,'+::+##+,:#++##@@@#@@@@+#,:,,:,:.;:;;+,.;':,;'++:`.'``,,.;,:`;``..:,```:::,.`.,.,.``,:,..`:. ..`  ,:..;;:::;'+++''##+;;+;';;+:;;;+##++++###'##+#++###+:##';+##+#+++++#+
#@@@@@#@#@@@@+''+##'@+''';##+++;;::''::+''+##+##@#@@#@@@#;#:,,,.`..+,,`,+,.:::,,..:.:`;.`:,, ` ,``..,`..,,:,``:...,`.,::;``:,``,,.,.`.,:;;,;,':+;#'+':;'''+;:;+.+;;:##+##'##++##'+####++#+@;'#+'#+##++#+
@@@##@@@@@@@@++'+#+'';;:'',';:#++;+#:+#:''+'+######@#@@#+:++;::`.,;.;++:.;;::',,:',`,:.`,.```. `..,.,,`,`.;;`.,..,,.,;;;:,.,:``  . ``..:;,.;.;+'+#+:++'':';+';+++###+;#'+##@#'###@+#+#++#+#''#'++'++++##
@@#@@#@@@@@@@++:'#+#:;;'';;';;+''',;+'+;'+''+@#@+@@@@@@@##'':;;;:+:;:;+';..+`,''',';`.;.`,,`,`:,...`:;,.,:;:,:,.,.:;+;::....:,``` ```.:::.,:,+;++'++#;';:',:+':'':;''+###'###+####++###'#+#;'+''+;'+;++;
@@#@#@@@@#@@#@#;+##''#'+++##,+;,,,+':;#;+++;###@@@#@@+##@##;':#:+,'+'+:::':.+:::,..,.,..:,:,`...., `,:.,,::;;,,,:;,:;,:.,.,.,,..` .```..,`.,,':+;'#+#;;'+;:,,';.'+'+#'#+#+####'###'+###;##+;;+;;+';++'+'
@@@@@@@@@@@@@@##+##;#+'+;:;';:#+'+',:##:+#++#'##@@@@#@@####@#'+:;:####';,,;.,':,';;',`:.``,.,:,.,`.,.:,;,.,;.,;;',:'''',,...``..``````.,:..,,,'++#+'++''+'+';;+',##+'+####+#@##'######+++'+:,+:;+;++:'+;
@#@#@#@@#@@@@#+++###+,:#;;'+;;##';',;#@:'+++#+#+;@@@@#@@@##+@+#++##@#':'',.;,:;;.,.,,'..,``';.,.:`.,:,,:.,::,::';;+#';:,,.```.,.`,,` ..`.:....'.;:##++;';;;+;+:+#''++;#+#+##@#+###+#+##;#;+:;+,'':'',+',
+#@+####@+@@##'+#;'+,++'###;':,::;+,'##;'+++@#+#@#@@##@##@@@@@@@#@#@@#.::':,:;:,:';:,.:,.::``, :.`.,.,.`::.:;'''+'+;++#++';;;':;:,;,;,.,,.:'+'',+.#'##;+;;:'++;:;+##;++#+#####+#+###@##'++;;.;:;;,;::+,;
#@##@##@##@###+++;'''::'++:;'+#:;#+,:###+##++'#@++##@##++###@+##@##@###;:,'.,',,;,.,,'::,.``: `,.,`:.,,.:;:';;';:.```,.,:'+++#####;:,:;:;;;'''++#;+'+''';',:'',':;'#+'+########+'#'#####:;';,'`;;.':.+:,
####@@+###@###'+;'#+'++#::;';+;++##,'+@##'#''#'#@#@@@@#@@@@@@#;#@+#@#',;:,:',.;;,:;,:`'``:,```.,:.;..`:'':+:,;:,````````.:,..`.,;'++''''+'+#++##+#+++##+++:,:';;+#+'+'@##@@###@@#+###@++#''';;.':.+,.+.,
'@@'@@'@#'@@;#;++##+'++','#'':;#+##,;;@@:##'+@#+#+##@@##++#+#++##'@#+,:.::,.'.:++;';;:,,:``.,`.:`.:`,,,,::,.,``.````````...`   `.,,..;'#+'::,:;:'#######++#:;+++;:++;'###+######+##+#+++++:';:,;:,+,,',,
+#+#######@+;@++++#'+'@+;##'#'+'+#+';;##+++##+#+##@#@#@@@@@@@#@@+#@#'+,,,'..`'.,:;;..',.`.::.,;.,`,`::;`'::,,,..`. `````` ```..`.,.`...:.,..,:,,+';;++++#+#;;;':'+#;;#+##+#'#'#+##+'###+++;;;:,':,#:,+,.
'@#'@#'##'@#+'';+@#';++##++@++;:#@:#++#+;#';;;@;@'##@@+#@##;@@+++#+##';;,,;;..',,.,:.,.;;,``,:.:;`::,.+.',,;::`,...`` ````  ``      `..;.....,';:''#+#++#+##;';+';#+:#'+#######+##;++##'##:;';,+:.+,:#,:
'@##@+'@#+@+##+#'++';#'++#+'#;,;##.##+#+#+@########+'#@@#'##@++++;;+#;,;:,,;;.::.:,;';:`.,;.``,.;...,:,,,:,,,`:`,``.` `. ` `    `..`.,..  `..;,;'###+####:+###::+++'++#'#######'#+##'++++#;;'';';:+;:+,;
#@######'@@##+###+':+##'''+##'';'+;@'''#;'#+::'###@@@#;##@@'@#+++,''#;;:',`,',.:+,,;':'':``,,.``.;..:,,.,.,:``..`. ..` ``  `  ``    `` `.,;:,:;:#'##++##:+:':;+#+##+'####@####+####+#:#+:#;'+''#''#;;+:;
+#@'@@+@###+###'+#'#+#+;+'+'#+';;'@###+'##+##++;#@++@@#@@@####;,++;'';;,,';,`',,:',.:...,;:,.`.;.';`..``.`,,`,`..`. .``` . ```` ``.``:..,,.:''+'#'##;###:;+++:';++''###+++#+#+##++'###+:;#'++++++++''+''
#@@@##+@###+##;+#;'#+#'+##@@#'+'+:+.@+'##+++###@++'+'+++#@#+@@#+;;+;#';,,:;`.,'`.::,`.,.;:`.;:,,.,.,,..,..:`,`,.`..`` .`.``.``.`...,:,;++++'+'###+++'###'::,:++;;+''####+###@+##'##+:#''+++++#'+#+++'#';
@###@#####'#+#@;##+:##+'+#@+@:#'+####''#++###+:;####@####@@@@#+,.+.++'':.,:'..:'..+;,,,::;:`,;:.':,`,.`...``: `, ``. ..```..` ,` ``.,';+'++':#'##+##'###+''+;';++':+#+###@##'+@'#+;++#+:+'#+#++##+++'#+'
#@@@@##@@##'##+@++;++@#+:'#@#;'+#''::#;+@@#;+++:;'@##@@+;'##@@@#:,+;#;':,;:+..`,'.,':.`;,;;,..`,,.,:....`.`,.` .`.. .``, `:.,,:`.`.:':;;#';';'+@;###++#'+###+++##+'+@#'+#+####+##@+'+#;'+++++#++#+#+#++#
@@@@@@@@@@;+;##';+#+++@##:+#++;'+';#@+,#+;#+:';@#':'#@+@@@#+@#+'+;:+,#+::.,;:..:'`,,;,,..,.;;:.;.:`.,,.`,,.,`,``. : ,``` .. .:,,..`:;:+:':'++###;#'#+##+#'+::;#@+'+######+@+'@'##;#+###;#+#++++##+##++++
@@@@@@#@#+##+++''#''###;#+'##++#'#',:##'@@'++'+###@'#+#@#####'##:,',#;#,';,:'::.;:.`;.,:,.`.,.:..``,..`...:,``.`.`.`` ,``,.`.::,`,,';:+,+;+'++#+'#'##''';'+#+;###+####+#+####+##++':#+#+''#++#+++++++#++
@@@@#@@##+#+'#'+#+###@##+'+#++;;;:+@':'#'++@#@#+#;:#######@@@@++'::','.::,.;',`:,',,,:,.;.`.`,.`,.;..``,;,,.:`:.`:.,`..`,;``,:;,,,;',;;:,;,+:+';+#+'##+':,;;###;;+#+##@#+##+@+@###++#'#;+'##++++++++#++#
#@@@#@@#@##''';#++###@@@'#'#@+#'''#'@+,;+#':+@:;+@@@'##@@'+###:;::',+,''::,:;;.,;';`;+;;,;`..,`'.'.:,;,`,.`:`:.,`.,`.. `:`. :.:.';'+:';;;,,:;'+;'':##;;.+#+'####+;+#+'####+#'##:###+++##;;';'+''+;+#'+#+
@@@@#@@#@#+:';##';#'#++###@'+#+:+#+#+##++##@@;@#''':+''#@####'#'#:.+;#+;,.,;',`..:'..';:':::...``,.`.,.`,,.`,```:..,`..`.`..:.:.:;;.,;'#;;;:''';:#''+##;'##+';;++####+##+#+##+'##+##'+'';;+;'+;++;+''#'+
#@@@@@#@@'##;;##;'+;++#@@+##++#+,+++##+'+##;;##+++@#@@++#@+@+;#+#:;:',';,,.,+:..,;'.,';';;,,....:.:::,.;:`...:`,`,.,``..`..:.:``,:;:;:;:':,:;:',:''+''++#'#++##;'######'###+####+++''#++';+;;+;+''+''+++
#@@#@@#@@#@++:#+'+#'#'###@@'@####,+##'+'###@@@+#+'@##@@+#@@##:':,:,;,:,;':;;+,,`,;;..:;:;,;.,,,:,:;:;:,':.,:.`;., :`:`,.,...`:.```.:,.:`.,,;,':,:;:;''+.;'+#+';#######'+#++##+@':+#'##,',,+,;+:';:+;;+';
#@@@#@@@#@#'+++''+#';#++++@@;##@######:':@+#:'+'@##+;######@+;:+;+;,'.,...,,+:,,,':`,::,.;:':;..,.,.;;.,.;;.,,.,`,  ```,`. , `,``` `..`.``:`.;,',#;+;:,+'#++#+;'####+##@#'##'#++#;+##:.+.,;.:'.;;,':,+:,
+#@#@@#@@@#::#+#;++@#'#+;#+@##'@@'###@++@;@++@#@##+;'#'#####'+,,';+',',.:','+;:`:';..;,,::+;'..`:,,::+`:`:`;,.,`....,`.   ``,```.`  ` ```,.`;,'`'+;;,#:++#+#;++##@###';@#'#+##+#;#'+'#.'..'.,'.:;,;::'::
####@@#@##@#@##@:;+#++#,+#+:#@#;@@+####+###@###@+##+'#+##@++'+:`,,.:;:`,,+::',,;:+..;'.`:;`:..,.;:::,+.;...,:..``:,.```` ``,.``, ..` ````;`;..':.''+;,'++#+;+'#######+##'#+:#,#',#+;+;.',.'.,'`;:.':.+:,
'###@@#@#+@####@+'++#+;+###'#@@#'@#;#+'###++;'+@@###+#+@@@+#;':,,.;..:...:';',..+;:,,;`,;;..,,`;.;:::',,``..:,...,,..`.``` .,``,` ```.`.::`:.;.;+';'+++#+####'###++#'+#';#++###::++''',+,,'.,;.::.',,',,
+@#;#####+@#+@+###;++'++++#++##@@'@@#+++'@#:@'+@@####@@@@@'#';:....;;.;;,;;+'`.,':.;;,.`':;.:.',,;,';;+,.:,:,',`;`..,,....`,.,.````,,:,,:..:`:;;:,'+;++'++''''#+####+#@###:#:+;;;:+:+::+:,+.,;.;:.',.+,.
@@##@###+#@'#@+#@##@#@###+##+'+++#@'+#@;#@+'####@@@@@@##+#;;#:,.,``.,#::;,';:..:;`,,+..',,,';;.,,,''':+++:;:;.::.,:.:.,.,...:`,`` ,`.,,;,`:`',.+'+';+#'''++'+###+#+'+@#'#'##++'';++;+:,+::'.;'.',.+,.+,.
'##'@@+@@'@###'###:;#:##'#@@@###@##''+####''+'+#+@#++'+++;#+#':..:``,,;+:':,:,;;,,.':,,;:`,.`...,'.,'.+,,.:;',+,.'`,,`;:.`.,`:``.`` `,,;`,;,.';,,;;#:'####+'###++###'#++#+@;#;;'#++;+;:+;:+,;',';:':,+,;
#@#'@#+@#+####+@'######+##+++@##''###++#@##';#+#+#;+++##@#;#;'..,,``..`;;;;,,:,+`::':,,;,`;.;;;.:..+;;;',.,'',.;,; :`;.`,```,``: ````....',;:`.++++,###';'+;##++@;+++#'####+++#;#+#'#;;+;;+,;':'',';,+:.
####@##@+##@@@+@##;::;'''##++''@@++@##'#+@#@@@'@##+@@@@+#'#':''`.,.`,..`,;..:'':,.';,.,;`:;:,;.+,,+,.++;#;++:,;':;`;`:.'.,```: ``,`,.`.`::.,'+;,'';+';'#++#+#'#;###++#+@+#'#+##'##+'++++;+':+':+;:+:,#,:
+@@+@@+#@+##'@##+##''#@####+@#+@#''##+'++###@#@#@+###++#;';'#'',,,.``. ``.'::'+:.,+,,.:,,.'.;:',.;.:+,,,++',:;',,;..;.:.:.`,,`,`...`;,,,'.;':;;++##'####'#';@#'+@#++######+@#+#####'#++++'+'+'++;'+;++:'
#@#+###@###+#@##+####+'+'###@@@++'#@#;@'@+##+#@+##@####@'';:@+#;:``.`.. ``.;,.,:::':,,;:.::,:::.+:;;.,'+,,,,:,:'::'`'.;`;`'.,`,..`:.::;:;'.:;'';+';##++;;+++##++#;+###+#####++#''##+#+##+++'++'++'++'+''
@@@###@@@#@+#@++##+':'+@#'###'###+'++'+#@##@####'#####'+#::#+'+;:` `.`.```.,:;,,::'`.':`.;`,,'.'``+::,:;;,,,:;+',.'.`'`;.;,;:`.`.'::;,:,:,';+';+++###:';#;+#;#+'#+++##+#####+###+##++######++#++++#'+#;'
@@@##@##@#@##@@;+##+#@+:#+##@+#;;#@###'++@@##@#@+@#@##@'++,@;##':` `.` ```.,...;,+,:.+;,':,::,:,.';.';.,;;;::''''`:;.+.,,:,:,`.,:`':'''+';',;+#'+#+'#'##::+#'#+'##'++#'++###++++++#+#####+#+++++++#'+#++
@@#@@#@#@@@#@@##@+;##@+++'#+##+'###+#++@@@#++#+@###@##++;,+''#'+'.````` ````,`:;;',;::.:;,;;;,+,::.+:,;'';,''++';,:',;'.',;,':::.;.+::;:,::;;+'##'+'+##+:'+#++''##'+;#:'#'##+'#++#++#+##+#####+##+#+++++
@@@@@@@@#@@@@@@@##+#@####'#'###'###@++++###++##:,+##+';::'#'+;:#+,`.` ` ``  `.`:,,:,+..:.,,':,',;,;:,:';..;,+;+';,,+,:+,,;,';',:':;+++##'+++#:##+#'##+:'+.;#+++'#++;'#:#'''+'+#'++'++'+++##'+++#++#++#+#
@#@@@#@@##@#@##@#;+'##;#+#@#+'+##+#+:+####+###;#;+#@#+','@''+,#'';```  .     `.`:,:''.:;'.':.,;':':,;'..;,';#':',:;+,+',;+,+;':;;''';++;:##+##+;###+#',+,.+#+#+'#+:+'#++'''++;#+;++'+'+++#'+++##++#+++##
@#@#@@####@@@@@@#++;#:###:#;'@####+''+#@####+##:@#@@++#;'#;#,,+`''.``  `.     `..,:',:.;.:',:+,',+.,+:;,++'+'+';''++++;:;+',''+;'+;''####++#@#'++##+;.:',:#+'#+'#++;;#''':,+;;+''#;'#'++++++++##+++++###
@@#@#@@@#@@@#@@@@@++'+##@##+@##+#'++'##+';#@''+@#;#@'+++#:+#.+:;++:..` ```     `..`::.'.,',.';::;',',,;':+.,,;';++++;#:+'++:+'++++###+##+@+#@#;++##;;:.',:#:;'++#':;+;+''::+:;+;;+;;+;'''+''+''+'+#'+++#
#@@@#@###@#@###@@#+;##+#++##+'#@':':@@'+####;'#@'++@#+'+.;#,;+,#.::..   `       `,`,;;'.;',;;,:;:+;'.+;:,,,,:.;:;'::++'+'++'@#'#'##+#;#+#+##+:;#+##:;.:+.,#'''#'@',;:'#'';,+:,#,:+:;+;';:+''+;;#''#'++++
@@#@@##@##@@###@#@#+;##++##'#+@'';'##@##@:#++#++;#@@#',:;+;:#:';;+:': ``  `  ```````,:`:;.::';,#+'';+++.,,.:.;,;,++''#+#++'+#+:+++#++##+#+##;'#++#+,;,:',.#';'#:#':',;;,;,,+:.+,:+,;;,;':+';+;;+;;#;;+'+
@#@#@@##@@@@###@#@@##++:;@+#+''+'+#####'''#@#;#:@###++'.'+.;'.#:;:'+.`.`   `  `` ````.,'':.''.'+':;:+#:::'++++:,,;##;'#:'++';;+'#'#;++;##+#+'+#++#;:';,':.;+'+#+'::',;'.',.+,,+,,+,:':;':'';';;+''+'++'+
@###@##@@@#@#@@@##@@#++'+###;+++#+###;.'.+##:#'@;;#@++'#'`+#.#::+,+:: .     `  `   ` `:+.::'.,':;++';;''+;':';#':;:#:'''#+++#'+;;'+#++#;#;##++####:,':,+::;#;+:++#;;:';.':.+,.#,,',:',;;,';.+;,+::+;:+';
@###@##@#@@#@@@@##@@#':;###'#+:#####,+++#+++:+@:;####:#'.;#.+'.+.,';:,,`` `` `  `     `.:,+:,'.:';+;,+:++.',;,:+','#:;#+#+#++##'';#+#+#########+#;;:+:,++,,';++++#+;:;;,;,.+.,+.,+.:'.:;.':.+:,+:,+,:+,:
#@@@@##@##@@#@@@##@##++;@@#''+;#+;#';#+#,+:###.#@'';+,+',+:,;`+;.#`;,',` ` ``       `  .:;',;+`:',;'++:;;'::,:,++';;#+;;#+#+###@###@@#@@######++;;''+;:+;;+''';##':',;;.;:.':.#,.+,.;,:;,;;:',;+::+,+';'
+@++@'##++@+##+#@##@##+#;#+@#+'+'.##@':';###':+'#+'':;',+;.#,'','`:+`', ```          `  ,,;,+,;'':;::+:#;':;:,.',#':#';#'#+++++##########+###+#++'+'+''+''';'+;';'';:'',+:.',,#.,+.,+.:'.;'.';.+;,+','':
@@+#@+@@###+@@#@@+@#+@+'#'@+#+',;##':++#'':,++''+##+'''#.,+;,;:'+,+`+:;.````            `.'';,;::+;+##''+;:;',',:'+;'#,+,#;+'########@#+#@'#++;#';+''++++;+;''''#'#;;;';;;:'::+,:+,'+.;'.':.':.+,.#,,+.,
+@##@@+###@############+##@#+::'+'#;+#';.#++:,'##+'.;+#,,#:.#,;';::::.;:,`  `  `   ``````.`,;,;'+:+'';;+'';''++;'::#:+++,';'++########++#:@'#++++'+'++'+''#::+'+#,++::+.;',';.';,+,.+,,;,,:,:;,;,,+..'`,
###'@#+@'+@+#@'+@'###+###;;,#'#';;+#;'#@+'.;#+:'++.+@.;##.,#.++,':,:.+.::.`  `` `   `  ` ``.,++:;,+:+'':#:''';:'::,#:++''';+:++;#+'#####;###++#@#++#'+++++#++#'++:+#;'+:'+:+;,+:,+:,+,,#.,+`:'.;;.+:.+,.
+##'@++@++#'+##+@'+@###'',+'#:+;#@#'.'#+.'+;.'+#+;''`:+;,,+';+`:',#:+.,:'.` ` `         `  `.;,.:+;;:+''+';#';:;';++'#++;#++'@;:#;###@#####'#'+#+'#'+#+++++++#+++''#';+''+''+;';:+;;+,:',:'.:;,;:.;:,+,.
#@#'@##@#+@@+@#+@#';;''#;:+##,+#:;#@#.`;#',+##;''+,:#+,'++.:+`++`',:.#'.;:` .`              ``''+'.+;':'+++'#++#+,+''':#####+@;#+####'#+##:#+++##++++++##+##+#++#++#'++'++''+''+;++;+;:+::'::':;;,':.+,,
+########'@++@++#+':+.,#;@#`##;:,##+.+#,`,##;;:#:::@..#':.:;;#'.';`;,:.',;:```               `.;;':+;';+;++#+++++:'#+:;#+;'#+####'#@'####';#+'#+#+++++++##'+##++++#++++'+#''+;++;+':';:#::+,:',;;,':,+:.
+@@+@++@#;#+'@':###'#;##+`.'#;:#+'`+@:`.++.`:##`.#:,#@.:##:`+'.+:.+,+:#.'`:,,`  `          `  `.;+'+.+:#+;#++'###,'#+:+++.#;+++#;'#:##@+';#+::###++'+#'+#+##+########+#++#++#+#+''+'+';#;;#;:+:;+;';:;::
###+#++@#'@++#+;####++,+,;#;`'#'`,#'#:'+:`,+',;#+'.#,`':'',#;;#,.+.;,;.+`'.:,.` `      `    `` .,;+',''++;++++'##;''+:#++,;:+'#''@:###'#+++'####'++:++'+++##+##++###++#++#++++#++#++#+'#''+''+;'':++:+;;
##@@##@@#@@@++;,;+:`;.,##:`.+#;;;+.;;@'':+;::##..+',+#'.#+'.,',:+.'.,,;.;..`''.` ``` ` `` `  `  `,'+++:'''+:++'+;'#'#'+'+#:#++#'#:+#@';@##''##+###;+:';+'++''+'+#++#++#++#+#+++++#++#+#++++'++'#';#;;+:;
##@#@########+.,:'#+###,#,'+'`;#+;:+'::#'',+#;,++','+`.#`;;##.:+.+,;..:,.';,,':.`` ` `  ````  .```.;'''##+;:++###+####''+#:+:#:+;;#'+'#+'+'';+''+#+#;+;'+;'';#''#+'#++#+++++++#+++#+##'##+#+'++#'++'++'+
#@#@###@#'';######':+.`:+@:`:#+`,#+`;';,'#+`.+@.`'#.,##,':;;`';.#,..;,,',,.,.;+:`    `   ``` ``,....;;+;''#+'##'#+####';'#;''#'#'++'+#':##++#+####'#'##:;;';;+;'#++#'+#'+++#+'#+++++#+##++##+#+#++#++#++
@@#@@@###+,..:.,`;:,;+@;.;++#.`##.`+'#`''.';#;`,#,''#`.#`,++#;.'`,:;,.::;.;;'`++;,       ` `  ``,,..,;+'##++#++++###+##';#:,#:##;#:,##'+####';+;####+#'#+,+,:+''#;;#;;+''++#'++'+##+++#+##++##+#+++++#++
@@#@##+'+#+;;:''+###;.`.+#'+;'@,`+#:`;#.,:#.;'#:`.#,.++':'.:::+`;:,;.:,'`'`'`'.++',`    ``     ``,....::;+#'+++'#++##+'+';';#'+''','+######+':##+##+@#;+##'::+;:+;;+:;+;'+;'''+++#'+++++++++++##++#+##++
@@@##+;;#+##@@#;,`.,,'#+..'+#'.##:`;#'.:#'';#``:#.`;#..#,`++#+,'.,;,'`'`'.+:+`'`''',     ``    `` ..`.,,;''''+''##++#++':#+'#;#:#:;++###'++',:++##+#######+;.',,+,:':;+:'+;+';+''#'++''+'++++++#++#++#++
@@#'++;:.,.:..;,:+##'...+@+.,'@:`+@'.;#;':#,`';,;;#,`''`+#,:+:'`:,;;`+.#`+`'`+,',,.',`          ` ` ````.,:''+'##+++#+###+'++:#:##+####++#+,'++';##'+@###+###',.',;+:'';+''+;++:'+;'#;++;+''+++#''#++#++
#+;'#@#++:';'+@##,.,.+##.`'+#;`'+'`;#+.:#:.'#,`''.`,#;,+,`+:.+:;..:`+`+`#.:,:`:..';'+,.`    ``       `.``.,;;;+;'#####+##+#+#;++@###+###+#,::'+##;+###@@###@##;,;.:;.;;,':.+',+;:+';+;''''+++++#++#+##+#
++',.'####+';,:..'+@@,.`'#+,`;#+..#'`:#';:#.`:#`.+#,.;#`.#';#'+,.,'':#:'`;.,,`:;' ++'+;:`             ```.,,,,+'';''+;#+##++#+#####+###'#;,:;##;'#+####@#;@@####:`;:.',.'.`+,:#,,+:;+:'+;'';++'++'++'+++
'##++;;.+.,.,'##@#'.`,##:.::#;.,#+``#',,#'`,#','+``;#,:+'`';`';': ;,'.+.;:,:.'`'`+.+'''':       `` ` ```....,`::+:++###+#;#+####'@#####;+,:;'++#+:####@#@@@'#####:,:,;:,',,+.:',:',;;,';,+::+;:+;'#';#''
,':'+++++###:,::.:+##:..;#+'`:#+`,:+..+;.;';`:+``++','#``+,'#,;::',';';+'`:`'.+:'`;,;+;'';`     `    `.`.`..,`.;'';;'#++;+++#;#'+###'+;+':;'+##+##++#+######@##@+#';:::.':.+,.',,',,;,;;:',:+::+:;+:;';'
#@#::.:;,,;'';+##;;,,'##:..'#':.+#.`:+;.+;``+'::#.`+;`.#+`:'`':':,+`+.'.:'.+`'`:`.,:;;;,'': `     ` ``. .`..,` ,::,,'+##+;++#;'''+###'#+,;''#####'#+:###+##@#;###+##,;:.',`'..+..'.,;.::.';,+:,+::':;';'
,'::#'::;;;++,`,:,,'#'`.+##'`.##..'#'`;#..+'``+,`:#;;+:`.#`,#'::+':#;+:',.'`;,:::;`:`;#+;+;,.       ``.`,`,,```..`:;,`;+';##+;#;++:+'++;''';#;+#@###'##@+@#'###'###:#;:,;,.'.,+..'.:;.:;.;,,',.',,+,;+,'
@#+';::';:;+#';+#'.;.`,++.`##:,:+#;`;#.`;#``';;:#,`:'``+':''`+`.:'+`+`#.'':,,.:`'`'`',+',,+;;,        ``...,`..:,`,'..:,:+;'+#'+;';++,++++;:###;##+'#+#+#@@'#########+#;;:.+,.+.,'..'.,:,;,.',.':.':.',:
:;+#+#+'..;;+'.;#'+++,.,`;+,`;#+:.+#..;#.`:#,`;'`.;;:'#..#``#.'';#+#;#,@.,',`;:+.+,#`'`':.;:'''`` `    `..`:``,:':.:.,;,,:;';:,,''',+;''++''##+##:##:'###+@@@#+###@@@##+':,',.+,:+,:'.:;.;;.',`'.,+..'.,
;:,';,+;.,+'+,.:+:'#,,##;.`,#'`,+;.;;#:.;#.`'+`;;+``;:`:+,+;`;,.::+`;`+`#,;,'`+`+`'.+,'.'':+'+''.`       .`,. ,,;,;;:`:,,'::;,';':':+,:'++:+##:;##;+#+++####'####+@##;####:+:,+:,+,,',,;.:;,;,,',,'.,+.;
+,'#+;'#:..,`.++';:+;+'`.;+.``;;,;;':,'@.`:+',;'``,+.,+'.+``+.;+,';+:;,'.#;,.#:+:;:;.;`:.+;'+,'+'. `      .``...:`::;:''.;;,;.;:;;::;':;;''+'######+#@'+#'##;#@#'####;##'#@+':+:;+::+::',:',;;.';.+:.+:,
;;::':;;;+'#+.```;+,:++;+```'::`;;.;'#.,:#'`:+``'#;..+`.+`''.+``; ''`:,,'.#+'`;`;`,.:`+;,,+`+`'';'. ` `    .,`,,.`:::'::';'',';+,';',+;;'+++#+:'##+##;##@#+;#####@+#@###:#+#''+';+;'+:;':+;,+;,+:.+..+,,
;;'++;,:+#+:''+;``..:+.+;,#;,..'`:+;,:,#;`:#;;:+,``+,:##:+..:`+..'`'+.#:';:;#+.+:+;;.,`;,,,#`+;+:'+.  ``   ``,,,:,`.:;`,;;;:+;':';,+,+#;+':#'##';##'##+'###############++#;@#+++;+';#';'';;;;;;'::+.:+.:
++,.;.;+##;.:+'.`'+::;:'+++.'+..`':`'#.:'#.:`+'``#'..'`.+`,#:+`+``'`:#`'.:,:;''.:`'.;`,`'',;+;+,+.';.`    ``.,.;,.`.::..:;;.,+':'.:';'++';;'#####,#@;'#+'###+##@#'@#;#@###:#+##''+';+;;#;'+:'+:'':+;,':,
+:;':;++',.;##',+'`.'#.``;:+:..+;,,+,`'+:.;#'`:;+``'.,#',::`'`'`#`.';;#,+'+'+:,+;':'.:.,..;`'+.;,:+:+',`  ` `....:,,,,,`;;..`'':':+:+++;:;'##+#,###;##+#;##+#@@+##########'#####++++#'+#'++'++;+';#;;+;;
,...,++':.,'#;.#','+',,#,`.;'+.:.:+..#:.##..;+'`.,+:,;`:'..',+::`+.`#+,#`+.'`#';;,,.;`,,,:,'.;+::#'+,+;;.` ``.,.`..:':;,,;.,.';',':''+':;:#+####;#+#;##:####+#+###+#@####'##+####+++##++++++++++''+';#;;
;#+#:.``.;#';..+,'#,;#,,;+'':#;#:`,,+`,#.;:#:``'#,`'..#+;+.`'`;,'`';,#+:#;#:#:++,;':,,,...' '`;+'.+,;,;';,` `.,:, .,,:+:;:;;.:.;,+:+';+:,;+###+;###'#'+#+###@'+##+###+#@@#@#'@#+##++#+++'++++++#''#''+;;
..`..:+##`.`;+,.:'#,#.;+.`.+.#;#,;+, ,+:,#;.+''``.+',+`,+.:,.#';.#`.+..:`+.+`;::+;,.,,,,...',+;''',,#,#,;::.  ::;,. `,+'':+++';:';;:+.+:;#+#+;##:'##:#@+#'###+######+##++#@####+###++#+#+##++######+++++
';++;,`.`:#':.`;+,`;;;#+;#,`.#.#.;:;:;`:+,;'+.`;#,`#,.##,+,,,`+`+`#',+''';+,',:.:#;,;;',;.;,;`;`,+#':#,+`+';,..:::.`.,,':+;''':+;.+:+,++++#+;@#:##++#;##+#++###@'##+##'####;#@+##:###'++#+#+##+##+##+#++
;..`.,#+:```;+,`:::','+,#.,#,`;+''+#: ;+.:+,.;+,`:;;,+``#,::`;:#:#,.#`,'.;,:,:'::,;'.`',:;`:`;`'`.##;.+.;,';;:',;;,..`::,,;'+'.'':';+:''+'######;;#+:##++,#####'######+#@####'#@#;##+;+#++#+#++#++#++#'+
,'+#+,``.'',:..:+..`.+:+#;#,.+'.#:++,#:`++:,++`.+.`+``+#:;:,.`'.;::+:#+'#,+.::.'`';';,.+;;+,+:+;':,##+:';':;+;,;;:..`,::.``;:;:'++;;+::+'+##;###+#+##,#,+#'######'###'###;#@#'###++#+#'++++++#+#+++++#+#
+,.`.;#+;.`,';```,;+.`.'.#;;#..+';#;+`.#+`'#.:''`.+;,+``#`,;:;;'::,`#.:+,':+:+','.';'''`'.,:.;`:.`'`;+#;.'.:,''+'':`..:;,:...`;;,#';''+#++####+#;:##;#`#.##+#+##@#'##@##++##+##'+#@#;#'+;'+;++''+'+++##+
`:+#;`.`.'+`,:,''.```'.:;#'#::##`':#:;#,.+'::@,`+:`,+`++;+`:;`;;`#:#:#+.#,;.+`.+`+.;;.,:.#+:+:+''#:':,##+,+'+,'++;;:`.;,,,:';:''.+,;;#+++#+####''#+''+:.';#:##+###+#+##;'+##'######'+#+##:+;'+;;''++'+++
',.`.++,.:..;+,``.++,`.+;,++:+.`;#,#''`'#,`++,:#``';,:'.'`''`',:#.@.#.++:#+'.#,`+.#.:':++`':`'`:.`#`,,`'#+.+.#.#'++;`.`:.,;,,:+;`+,;;+++#+#'+#;#;:',.`` ``:;'+'+##+@#########@''###'#@#'#;+;;+';#'+''+++
.,++;,.,++,``,:;+,```+:`,:+.#;#';,#+#:+;`,#;.#,`+'``+,`#+#';+`.'.'+#.+.:'.;+:,:+;',#:;#,:'.'';+',+.+..;`:++.#.#,+@#+;::;,.,,,'':,+;';+;;++'##:'''..,.``.   ` `.,++##+'####++;######:#@+##+'+;+:;+,'+;+';
#,``,+'.``,'+.` `.+':::';.#'+:+`,#+:#+:;#,`'+.';`.+;:.+`+,:'`+:+,+'.#;++'#:,'+``+.;.@'+;+;#.';.',`#`;,.'`;#':+`+.;+',::;;,,:;';,;';++'':''+++:`..,,,  .,.`       '++#####'+####@#;'@##'###'##+:;','':+;:
.:#'`.:,'+.``,+':`.`,+:``#,+.#;';;.#++:+`:#;,#;`+;.`',`#++#.+ .:#+#+.':,;.'#,:#;:'#,:;#+,#`#,''';+`+`.;`; ;#++#.'+;##';';;.,;::;+,,;+;:.+;;;.`.,.,.`  `````,,.` ``;'####+##@####;##+#####:##+#';';,'';';
,;:.'#,``,:+'.``.'',:':++;;#+#+#:'#;##;,#;`:#`';`+#.:.#.#;.#`+'.,:;;+.+#,++'#,`''`,#,''+#:#,#,;;,`#`',`+`+`,###@.,+`,:#;;,`;:..,';`';.:,'';,`.`...`  `..` `:.,.:  `.+:#+##'+;;####@#++#@#'#@'###+,:+,;':
:#:``.:''````,##,``.+.,'`',`#,#,'.,@'+'+`,#':#;`#,.;#,`#++#:#``'.+++;',`+,##'+#:,#,.@,#,;+:+.+,+;':''.'.'`;,`++##;`+.`:''.....;::;.;;:,`';:.,,,,,```  `,..`..,.::` `.##+@'+##@#+#@+;+##@+###:#+#+;;'.;;,
..;;+`.``;++.```:#:``,#'++:+;++#';#'+'';#;`.#,;+`+.`,,#`':.#,'';':;.+';+`#`#+;;#``#;.#,#:'#'+++,+:#`,:`':+:;+,:#++#,;+::;+'.,,,..,`:;;:.:;:`;;;:...`   `.` `..`,,., `.#'#####''++#+++@#@;#@#'#+;##;;,,;.
';`.`;+'.```.+#',.,+;``,#.+.:#;+'';'####`,#':'+.+:,#;``+,'#++.`+.:'+`#:,+:#'+#;.#:.++;#:#,';;':;;#'#:.;.'`;,`,;.+##',`:;::'+#;,.:.:,;+.:`;;`,.,:.,``    ..  `.`.`:.` `.##+@+;##@###;##+'###+'##+#:'@+:;:
.,'#.``.`'++````++``.++;,'#;#,#,#,#::+#,#+`,#:++`+``.'+.'::#;;';:+`,'';;.+.##,#..+#,'#:@.':+:'.;,:#.+:`+;#',',.':,##.+``:'..';+#';';;'.;`;'.:.,.,....`   ``  `...,,.   ''###@@#@@####;#+###+;''@#'+#:'@'
+```,#':` ``:#;:.`;#,``+`;`#+':#+';'##,#,`#+,:','`+#.``'#+#:#.`':`#;;+.:+'#;#'`++``#`'+.@.+:+;;.:;###+;`#`':``+`.:+''`:+'..+.:;;#,;.'.,,`;:;.`;.,`....`   `   ``,`` ``  +#'###,:#++##'###';'####+'######
`,##```,++:,```+#.` :#;:;'+;.+;#,,'+'+@''+`.#;,+,+ `.+'`.#.#.+':,#`,++#,:#`';;#::#;`+,+;.#`+'';;:;.+:::',#'.+. ::,+#,:;`.':`:'::+'':;,;`.:;:..:,.   `..`  ``   ``````,` `#'#';@########;,'+#@##'###;+#+#
'```:#,:.`.'+,`,.:#;```+..#,#'+,##;'#;#+'.#';,+:;`#;```+'+#,#,:#..#+.#:#;'#.+':#,`,#.';;'.@.####;,+;+,+,#..'`.'::',+#.`#+,`;:`,':,;+#,:,;:;:.`,,`   `.``  `` ..:,;;::.,:.;##:+#######+##+####:+##@###';#
`';.:..;+:.,,.'+.``;++``.+`#';'+#;,:'###+#`.#;.';'``+#:`.#.#;#':;+`:+'+,';.++'+,,#``#.+,;'.','###;.+.+,+:''.:; ,,.##+`'``.+`.'';:+,:,+#;''''`,``..,,,,,..,,,,.,:,,,:,:::;,##'##'##;'####@##';@##+'###;##
#,`:+:`.:.:#'`.;,++```+#,.'::''#:#;##';+#`+:.'#;..+.```;;;#';',#`:#'.;;#.;'`#;;#.`'#:+,+.:+:;'#####:#,',:,,;..+::'.+'#,'+;`.'`.''..#:;;'#':.,;,:',;;;;;;,:,.,,:::,:..``.,`#;##;##+##@####:'#####;####+##
`.'';,;#,``,,.++,`.;#:`.++.,+'#,''#'+'+#+#,:#:.#:.`.'+,``#+'+#+.',',#,+;#`,',:;:;+``#:+;#,;;;,.+#++#,:.;+:;:`+`.;`++#`:+:`:;`;#;.,+..:'.:'##';;;;'+':,``.,,:,.....:;:.`..`+#;#:####@#+#+@+#@##:#@#'''@@'
++``,#.,:,+',``,;#'``,#;..''`+::#'#,##+@#`+,:++;:,+.` `,'#'+`+.+.';',#;+,#`,:+;+``#;,;.#`+.+,',#+@;##:.;.::;+;,'.;.+,#::;#:,:'`.+;,''+,.+.,'###';;'+; `...,,````.,.``   . ;###;#@###';###@#',###;:####;#
'.;#:.`+,``,:'#,``.##``,#:,,#,'#'',+#++;++.:+,.;+,`+''.``,+:#.#.:';;':+,+,#':##'#:`.#.+,#.#,#,#:#:#;+##';,,',.+`+.:#+`.+`:.+,:;#.`:+..+;:''#:+##+:;,;;,,;;,:,...,`     `` `##;##':####@+'#''#@#;####@+'#
#;+..:+:.;':.``,+#,`.##,`,#,,,#:+::+;',++#+.,##.:;;.``,',++,:#++.;+,;.+';'`:';;#.+#;:;:#,#.#,#;+:##'#,#+#:+',+`,;,:';++.;'`;.+,,.+'::+,`;'.:+++###;:;..,.`,,..;,`,:.:,,.  .`++#;###+#@###@##+;+####:'#@@
`';,#;,;;+.;'+;```:#+``'#::.+,.;''#,+:##@#::'`,'+`.#,:, `,:+,:#.#.`+',:#'+#;,##'#:`#'.+;#'#;#'#+'+,@:#+;'+','::';+:##..#,`,#';:;+,.'::;#..:+:.:+##+#::;;:,,,:`,, ,::,'',',..`+####+'###+#+'#'+##+'+#@#::
'#:;;.:+,`,++.`;++``.++``:#,'`':'#,+,@;@:@#`,#,,.;:,`:#:`,''''''`##,,,;;+;`#.:'#';#..#`#;#:#'+,,+.#,+#;#'''+':;.+.##+:+..#+,,,+,:;#.,+,,'+:..';`;+#@+,,'+',::,.: :``,..:,,..`,####;+####@'+####:+@#+,:##
``,+.#;.:'+,`:#:``,+.``#;`,;#;,,+;:;+'#++##;;`+;+.,+.,,`,.`#'#+:+``.#,,@''#`+:;:#.`+':#.''#;++;#.#.#''@'#'+#+#+#,;,#+;,#+,,;#;..#,,+#.:+'`.++'#;;+#;#;:;'+'+',,, , :` `:.``'::#:#;+#@###'+@##:+##+:;###'
++,:;#.:'.`:#+:.'+``.#:..#;`.,#',##++.;#@##:;#`;.'.::#+,,;+'#;@.,#+,`#;'+'`#,,'#++'``#.#.+`#,'+:#`'':#''#,#.+++++#;#+`+``'#.`.#,,:#,:'#'::#,';'`,,;#;#'+,':##:,,;`., `.,;,``,+#####';#+#+@+'+#@#:'@##:+'
``,+.`,+,;+;..,#'`:+``.#.`.@;;;'+#;#.####'#':`#,#.;: :.`;,+,#',#;``+;,+#+'#:;+##+':#;;#:#.#.#''#,+:,#,:+.#,'#,+'#+#+##''#':;#;`,#::';,;,#','#;,`,+.;+#+'`+;+++,.,`;``.,::,``;+#+#;#####@'##@#+,'##;;#+##
+:``;+;`.+'``+#.:'+`.+``'#.`,#'`',+:+'#.@''+;#.'.+,,''.`,;##'#``+#'+,@','+,+,:'#+;'`,#`+.#`#,:#'#`,+,';,#:#+:++,+'#+#++.`,#:`.#:`:+,'+@,:,#++.`:;+,+:#'''+.:#+:`:`;``,;:, `,+'##'@+'##;+#@#+'#+#+:####+;
;.''` `,#,.'+,..'+`;#.;'``'#,..##,'+'+'#'#@@'`#:+`+` :`,:``+'`++.`;#+''@+:@.;';+#++#:.#.+.#.'';#,#,`';;#,+,.#,;;#,++#:#:#;:,+'`.#,`;#,.,##.'+,..':''+#.;:+',++.,..;``:',.`:'##@+##'#+:+#'####'#;+###+;+#
+.``,+',``;#,;;'.`++,',`:#,,:#:;.:';'+:+##+#+;`#:+.;+```,';,.'`.#+`';@',++.':,+@++:.+'`''#,#..#,#;:@`,#.#,+'`;+.;;+'++#',`'+``+;`,#':.++,.;+;.`,'.+;+;''++;''+',`,;`;#+;.`:++'@'+:#++##+:######'##+:+##+
;;+:```,+;``;+'':#.,++.+,`;#,.,#::,';.+#'@###:'.+++``'+'`.,,:;++;,+#:''#:.#.:;,#@+:#..+.,'+:':,#'+#.;;,#:#';#,.`+:..#'##+#;,:+..+,`.++.,'#,;+:;.',+;#;#+:#;+++;;`;``''##+##:##+##+#++#;###;##@;@+;##+#,+
`;;`:+..::;+``;'':.+;,#.;+`.:#+':+,''''@+,@###.#`;':'``,;:`'`++;#:.++#':'+;#'+;##''`#..+;;+@`.#.+';#.`+:#+'+:;++;.+;..#;#+;#,`''`.#',`,#:,:+#',.;'',#;##.++'##+,';,';+'##+;#++@;#+;+###+#'+@+###'###,+##
+#,;;.`,'```.+,;+;',`'.;#:#'.,:#;;,+#'#,'@###+:,#.;'''+`.`+.++@''.#+'''@,.#.';.##;:+`;:`,',;#;.#';#:;#`+'++:#',;'+;.+;`.+;#;:#..+'`.+';;.'+,'+;::+#'#+#';+''+'''''#';;'++'+##########''##;;####+#:;#@#;:
'`''`''``,''``.#`.;.#,:#.#..#;,,+@.+:+,#:##+#++;`#,:#`::#..'+#';#,;:#+''+@:+';#+#+;;#,;;+:#':;#`'#,'+`+,;+;#;`+;.`'+'+++,++'#`:'`.##,`.#:;,,#'#'::+;+###';+'+,+#;#+;.,.:'####+#'@##';+##+###'##@@;##+,'#
.++'+@.,+.``,+``;'':+.+.'+'';.#':,##':#.#':##+';+`;+,';.``',##+',:#,#,:'+`+`:',+++';`#..:+.+#,`#;'+:`#`.+'#;'#``;#,.''..+:.#'++`+;``:#'.`;;,'''##'#####+++,++++:##.:.:,,,:+#;######++###++'+;######;####
+,`''.,#,.#;;.,;` :,:'':#;#.#;,,##':@:+#+#;+@@#,,#`.#.,;#..+#'+,+;.''+#:,#,;:.+#'+'#+:+,;.#':+;`,#,'+`',.#+##'+'`.;##+'#..#`#''+.`'+.`.'#;`,+,,':++#;+''++,#'.++:;.;`., `.+;+#:#####'+#;+##'##'#####@#:+
,.#;:'#;,+'`'+``:;,;+;,#.@,#'.#',,#,;;@;#.#####',`#;.:#.`.',+#',`+#;:+:;+;++;+'##'+,#:.+;#,#,::#:.##,#`,+`++;#+;';..+'.,+''';+++;#,`;+',`.++:,,'';'+:;++:;##';'++#.:,,,.:'+'+#'#:###;'#######;:#####'+##
`+;`;+`.#;.'+::+``'+,::+#:'+:'.,@+::#.;#+#+#+#':+'`;+`,;+`.+'++#:;`'+;#;,#,`#,####;#.';`',@.++;.:#.'#,+:,#''+.;@,;#+',#:`.#,'###'.:++``:++``'#'::.:+#:;',#+,''++'#.:`,..;;#++++#;@###+;'+#+'#####'##+###
'`.+',.+``'+.`'`+'::#.::#.+;#:#;,:@,,''+#:@;#@;'..#:.#,``;,,@##:'#,:'#,+@''#.#+#@;+,#:+#:#.#,,'#..#',#`:+`.+,+';+'`,#;''#;,;''#',+'`,:#;``'+'.`:+#,...:#'',+#,#;++`;,.``'.###:+;#,#+++'##,+##++#::####:#
</pre>
<h4>You may delay, but time will not. --Benjamin Franklin </h4>
