<pre style="font: 4px/2px monospace;">''''''';;;;;;::::::::::,...........,,,.````````..:;'+++++++++++++''''''''+;`          ```..,,:::::::::::::::::::::;;;;;;'''''+++++++####++;,,;''++##############################+++++++'''+'++++''''''''
''''''';;;;;;::::::::::,.........`.,,,.``````````.,,,,:'++++++##++###++'+#;`          ```.,,::::::::::::::::::::::;;;;;;'''''+++++++####++;,,;''+++#########+++#++++++++++++''''''''''''''''''''''''''''
''''''';;;;;;;;;:::::::,.........`.,,,.``````````.,..`...,:'++#++#########'`          ``.,,:::::::::::::::::::::::;;;;;;'''''+++++++#+#+++'::;''++++++++++++''''''''''''''''''';;;;;;'''''''''''''''''''
''''''';;;;;;;;;:::::::,,.......``.,,,.``````````.,.``````..,,;'+#########+`          `.,,,:::::::::::::::::::::::;;;;;;''''''+'+++'++++''';;'''''''''''''''''''''''''''''';;'';;;;;''''''''''''''''''''
''''''';;;;;;;;::::::::,.......`.`.,,,.``````````...``.```````..:;'++######.         `.,,,:::::::::::::::::::::::::;;;;;;''''''''''''''''''''''';;;;;;;;;;;;;;;;;;;;'''''';;;'''''''''''''''''''''''''''
''''''';;;;;;::::::::::,.......```.,,,.``````````...``.````````.,,,.,:;'+##.       `..,,,::::;:::::::::::::::::;;;;;;;;;;''';;;';';';';;';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;''''''''';;;;;;'''''';';;;
''''''';;;;;;;:::::::::,.......```.,,,.``````````...``.````````.,,.```.`.++,``````.,,,,,,::::::::::::;;;;;;;;;;;;;''''''';''';;';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;';'';;;;;;;;;;;;;;;;;;;;
''''''';;;;;;::::::::::,.....`..``.,,,.``````````...``.````````.,,.```` `'';.....,,:::::::::;;;;;;;;''''''''''''''''''''';;;;:::;;:;:;,,,,:;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:;;;;;;;;;;;;;;;;;;;;;;;;;;;;
''''''';;;;;;:::::::::,,......`.```,,,.``````````...``.````````.,,.```` `''''';;;;;;;;;;;'''''''''''''''''''''''''''''';';;,,:::;;;,,,,::::::;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;::;;;;;;;;;;;;;;;;;;;;;;;;;;'
';';''';;:;;;:::::::::,,.....`````.,,,.``````````...```````````.,,.```` `''''''''''''''''''''''''''''''''''''''''''''''';:,::;;;;;,,,::;;;;;;::;;;;;;;;;;;;;;;;;;;;;;;;;;;;::;;;;;;;;;;;;;;;''''+++#####
''';''';;:;;::::::::::,,......````.,,,.``````````....`.````````.,,.`..` `';''''''''''''''''''''''''''''''''''''''''''''';,:,:;;;::,:;;';;'''';;:;;;;;;;;;;;;;;;;;;;;;;;;;;;::;;;;;;;+++####@@@######@#@#
''';''';;;;;;:::::::::,,......``.`.,,,..````.````.,..``````````.,,....` `';'''''''''''''''''''''''''''';''''''''''''''''::,,,:;;;;:'''++'+++''';:;;;;;;;;;;;;;;;;;;;;;;;;;;::;;;;;;;##@@@@@@@@@@@@@@@@@@
''';''';;;;;;:::::::::,,.........`.,,,..```.,....,,..``````````.,,,..,.`,;;;''''''''''''''''''''''''''';;;;'''''''''';'',,:::;;'''';;;;;:;;;''''':;;;;;;;;;;;;;;;;;;;;;;;;;,:;;;;;;;'#@@@@@@@###########
''';''';;;;;;;;;::::::,,...........,,..`````..,,,..`````````````,,,,,:::;;;;'''''''''''''''''''''''''';;;;;''''';'''''':,,,,::;''+;:;';;';::;'''';:;;;;;;;;;;;;;;;;;;;;;;;;,:::;;;;;;#@@#@#######+++''';
;;';';';;;;;;:;;::::::,,.........``...````````.,,.`````````   ``,,,,::::;;;;'''''''''''''''''''''''''';;;;;;'''''';;;';,,,,,:;;''''';;;;;;;;;;''';':;;;;;;;;;;;;;;;;;;;;;;;,:::;;;;;;'''';;;:::,,,,,..``
;;';';;:;:::::;;::,,,,...````.,,.`````````````.,,`             `,,,,::::;;;;''''''''''';;;;;;;;;;;;;;;;;;;;;'''''';;;;:.,,,';;'+''';;;:::;;::;;;'''':;;;;;;;;;;;;;;;;;;;;;:,:;;;;,.,..,,,,,,,........```
;;';'::,:,,,,:;::,.....``````.,,,``````````````,,`             `,,,,::::;;;;''''''''';;;;;::;;;;;;;;;;;;;;;;;;;;';;;;;,,,,;;;;''';;;;;;;;::;::;;;;;';:;;;;;;;;;;;;;;;;;;:::,::;;;```....,,,,,,,......```
;;';'::`.....::::....````````.,,,``````````````,,`             `.,,,,,:::;;;''''';;;::,,.....,,::;;;;;;;;;;;;;;'';;;';..,;;:;'+'';;;;;;;::::;::;;;';;;;;;;;;;;;;;;;;:::::::,::;;,````...,,,,.........```
;;;;'::``....::::...`````````.,,,````````` ````,,`             `.....,:,:;;;';;;;;,,..```````...,,:;;;;;;;;;;;;;';';',,.,:::;'++';;;;;;,:;::::::;';;;;;;;;;;;;;;;;:::::::::.::;;,````.....,,.........```
;;;;'::``....::::...`````````.,,,```````      `..`              `.....,.,;;;;;;;:,.````````````...,::;;;;;;;;;;'';;';...,,,;;'+';;';;;;;;,;:::::::;;;;;;;;;;;;;;;;;::::::::,::;;,`````....,..........```
;;;;':,```...::::.```````````.,,.``  `        ``.               `````.. `;;;;;;:,.`````````````....,,:;;;;;;;;;;;;;':..,,,:;;'+';;;;;;;;;::::::;::;';;';;;;;;;;;;;;::::::::,:::;,`````....,..........```
;;;;',,```...::::.````````````...              ``                `````` `;;;;;:,..``````````````....,,::;;;;;;;;;;;;,..,.,::;++'''''';;;';;:::;:;::;';;;;;;;;;;;;::::::::::.,,::,`````....,,.........```
;;;;',, ``...,::,.`````````  `..`              `                 ` ```` `;;;;:,,.``````````````.....,,,:::;;;;;;;;;;....,,::;++''++'''';;;;;:::;:::;;;;':::::::::::::::::::.,,,,,````.....,,.........```
;;;;',, ``...,::,.`````      ``.`              `                    ``` `:;:::,..``````````````.....,,,,:::::;;;;;;:....,,,:;+';;''+';';;;;;;;::;;::;';;::,,,::,,,,,,,,,,,,...,,.````.....,,.........```
;;;;;,, ```..,::,.````       ``.`              `                    ``` `::::,,..````` ````````....,,,,,,,:::::::::,...,,:,:''';;';''';;;;;;;';;;;;::;';;,,,,,,,,,,,,,,,,,,..............,,,.........```
;;;;;,, ```..,::,.````       ``.`                                   ``` `;:::,,..`````  ```````....,,,,,,,,,::::::,.....,,,;''':;:;'''';;;:;;;';;;;:::;;',,,,,,,,,...........``..........,,,,.........``
;;;;;,, ```..,,,,`````       ``.`                                    `` `;:::,,..`````````````.....,,,,,,,,,,,,,,,,.....:.:;:':;;'::;'';;;;:;:;;;;';::;'':..,,,.............````.........,,,,.........``
;;;;;,, ```..,,,,``` `       ``.`                                    `` `:::,,...`````````````.....,,,,,,,,,,,,,,,,..`.,.::.;;:;';;;:;'';;;::;;;;''';:;'';...............```````.........,,,,.........``
;;;;;,, ```..,,,,``           `.`                                    `` `:::,,....```````````......,,,,,,,,,,,,,,,.....,.:,,;;;;;;;;;:;'';;;::;;';''';;;''........``````````````........,,,,,,........``
;;;;;,, ```..,,,,``           `.`                                    `` `:::,,.....````````........,,,,,,,,,,,,,,,......::,:':;:;:;;:;:'';;';::';';''':;;;....``````````````````........,,,,,,........``
;;;;;,, ```..,,,,``           ```                                    `` `:::,.......``````.........,,,,,,,,,,,,,,...`.,,,,,;;;;::::;:;;:';;;';;;'''''';;;;;`````````````````````........,,,,,,........``
;;;;;,, ```..,,,,``           ```                                    `` `::,,.........``...........,,,,,,,,,,,........,::,:;::::::,:;:;;:;;';';;''';+'';;;;``````````````````````.......,,,,,,........``
;;;;;,,  ```.,,,,``           ```                                    `` `::,........................,,,,,,............,:,,::,,,:,::,:;:;;;;'''';'';'+'';;;'.`````````````````````.......,,,,,,,.......``
;;;;;,.  ```.,,,,``           ```                                    `` `::,........................,..............`..,:,,::,,::,,,,,:;:;';''''''++''++';;;,`````````````````````......,,,,,,,,........`
;;;;;,.  ```.,,,,`            ```                                    `` `::,..................................```,..`,:,,,:,..,:,,,,,,::;;';'''''+++'+''';;;`````````````````````.....,,,,,,,,,,.......`
;;;;;,.  ```.,,,,`            ```                                    `` `::.``..............................`````....,:,,;:,...,,,,,,,:::;''''+'''++'+++;';;`````````````````````,....,,,,,,,,,,,......`
;;;;;,.  ```..,,.`            ```                                   `..`.,:,....,,........................``````.....:,,,;,,...,,,,,,,,:;;;'''''''+++'++;';;````````````````````.,....,,,,,,,,,,,,.....`
;;;;;..  ````.,,.`            ``                                  `:;;;:,.,...,,:;:::::,,..............`````````..`..:,,;:,....,,,,,,,:,:;;'+''''''++'++''';````````````````````.,....,,,,,,,,,,,,.....`
;;;;;..  ````.,,.`            ``                                  .;;;;;,.....,,::;;;'';. .............`````````,....;,,;,......,,:,,,,::;'''+''+''+#++++'';.```````````````````.,....,,,,,,,,,,,,.....`
;;;;;..   ```.,,.`            ``                   `` ;;  `       .';';;:..`.,,:;;;;;'';. ..........```````````...`.,:,::,,....,.,,:::,:::;;'++++'+'+#+##'';:```````````````````.,....,,,,,,,,,,,,.....`
;;;;;..   ```.,,.`            ``                 `.;;,;;,:;,      .';''';,,.,:::;;;;''';.`...........````..,,,,.....,:,:,........,,::::::;;;''++++''+#+##'';;```````````````````.,...,,,,,,,,,,,,,.....`
;;;;;..   ```.,,.`             `                `;'';;'';;;';     `:'+''''';;'''''''''';:::::::::::::::::;;;;;,`....::,:,........,,,:::::;:;;''+++++'##+#''';```````````````````.,,..,,,,,,,,,,,,,,....`
;;;;;.`   ```.,..`             `                ;;;';;;;;;';':    `:'';:;;'::'';''';;;;::,,,,,.:,,:;;;''''''';:,.`..;::,..........,,,:::;;:;;'''++++'+###''''```````````````````,,,...,,,,,,,,,,,,,....`
;;;;;.`   ```.,..`             `               `;;;';':;;;':;'  `,,,``.,:;;;;'';;';;;;;;:,,,,,,::::;;''':+++';:,.`..;:,,.........,,,,,:;;;;;;;'''+++++###''''```````````````````,,,...,,,,,,,,,,,,,....`
;;;;;.`   ```....`             `               :;;:';;:;;:;::'. :;:.  `.:;;;';;:;'''''';;;;;;;;;;;;;;;';,'++';;,,.`,;:,,.........,,,,,,:;;;';;;'''+##++##'+'',``````````````````,,,...,,,,,,,,,,,,,....`
;;;;;.`   ```....`             `               ;:::';':;';;::;: ;;;,,.,::';''';;''''''';;;;;;::::::;;;',;'++'';,,`.,;:,,......,,,,,,,,,:,;;;';;;'+++##++#'''',``````````````````,,,...,,,,,,,,,,,,,,...`
;;:;;.`    ``....`             `              `;::;;;;:;;;;::;;`:::.;,:,,:,''+'+++++''''';;;';;;;;;;;'',;;++'';,,..,':,,,,,,,,,,,,,,,,,,,:;;;;'''''+++###'''',``````````````````,,....,,,,,,,,,,,,,,...`
;;;;;.`   ```....`             `              :;;;';;;;;;;;;;;;,::,.:,::,:,''+;##++++'''++'+'''''''''+';;'+++';,,`.,',,,:,:::,,,,,,,,:,,,::;;;;''+++++###'''':``````````````````,,...,,,,,,,,,,,,,,,....
;;;;;.`   ```.,,.`            ```           `;'''''';::::::;'''';:,.;,::.:,;'+'##+''''''''''''';'';'';;'''++++;,,`.,;:,:,..::;;:,,,,,:,,:::;;;;;''++##+@#'''';.`````````````````,...,,,,,,,,:,,,,,,,....
;;:;;.`  ....,,,,..........`......```..`````,''+''''':;:;;;'''+';:,.;,::.:,;'+'#+'''''';;';;;;;;'';';:;''.++++',,`.,;:,,,:,::;;;::,,::::'''';'''''#+++@@+'';''.`````````````````,.....,,,,,,::,,,,,,....
;;:;;.. `::::;;;;:::::::::::::::::::::::::::'''+''''';;;'';'''++;:..;,::.:,;'+''++'';;;;;';;;;;;;';'::;': +++';,,`.,::,,;#+##+::;:,,::;''';:,:''''+##@@@+'';'',.,,,,,,,,,::;:::,,.....,,,,,,::,,,,,,....
;;::;,,`.;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;'''+;';';;;;;':'''+';:..:,::.:,;'';;++';;;:;;'';::;::;;;,;''. '++';:,..:::,:';:++;'::,,,:;';:'';:::;'''+#@@#''+;'';################'......,,,,,,::,,,,,,....
;:::;,,.,;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;:;'';';':';::,;;:;''+';:..:,::.:,;'';;+'';;:::;'':::::,;;;,;'';,+++';:,.,::,,..,,::;;::,,,:;;;'+#@#+;;;'''+#@#''+;+';#@@########+++++'......,,,,,,::,,,,,,....
::::;.. ..:;;:;;:::::::::::,,,,,,,,,,,,,,,,:'':':','::;.;;:;''+';:..:,::.,,;'';;+'':;:,,:'';,,::,:::,;''@@+''';:,.,:;,,....,,,,,,.,,:;;';,'+'++;';''+#@#''';+';'@@#############'.......,,,,,::,,,,,,....
::::;`    .::::;:,.............`` `````````,'':;,'.',,;,;;:;''+';,..:.,,.,,;'';;''':;:,.:;;;,,,,,,::,;;+@@#+'';:,.,:;,,...,,,,,,,..,:;,,,::;;';;;';'+##+''';'';'@@@@@#@@@@#####'.......,,,,,::,,,,,,...`
::::;`    `:;::;:.                         .;',;,;.;,:;,;;:;''+':,`.,.,...::'';;''':;:::;;;;:,:,,,:,:;'#@@#+'':,,.,:::,....,,,,,...,:::,,,,,::::;;;'+##'''';''';++''''';;;:::'#'.......,,,,,,:,,,,,,...`
::::;`    `::::::.                         ,;;::,;,;,:::;;,;;;+';;,....,,.,:'';;'+';;;;;;;::,:::;;;:,;'@@@@+'';:,,,:;,,....,,......,;::,,,,::,,:;'''+##;;'':''';;;::::,.````.:#;.......,,,,,,,,,,,,....`
:::::`    `,:::::`                         :;;:::;,;,:;:;;,;;;+';,.    `.,:;'':;'+';';;;;:,,,,,,::;:,;''''''';:,,.,:;,,....,,......,;::....,,,::;''+##';;'':;'';;;;;;:,````..:#;.......,,,,,,,,,,,,....`
:::::     `,:::::.                         ;;::::;:;,;;:;;:;;;';;,.````..,:;;;;;;;;;;;;:::::::::,,,,,,,,.....,,,,,,::,,,...,,,.....:;::....,,,::;''++#';;;;:;'';;';;;:. `....:#;........,,,,,,,,,,.....`
:::::     `,::;'';:.::,:;;;;;;;;,,:;;;;;;;;'''''''''''''''''''''+'''''''''''''''''''''''''';;;;;;;;;;:::,.....,,,,,::,,,..,,,,.....:;::,..,,,,:;;''+++';;;;:;'';;';;;:.``..,.:#;.........,,,,,,,,,.....`
:::::      ,:,'++''''''++++++++++++++'++++++''+''''''''++'+''++++++++++++++++++++++'''''''''''''';;;;;::,.....,,,,,,:,,,.,,,,,,,..,:;::,,,,,,::;;''+#+'::;;:''';''';;:....,,.:#;...........,,,,,,,,....`
:::::      ,:,'+''''''''++++++++++++'++++++'''''''''++++++++++++++++++++++++++++++++''''''''''''''';;;;:,,.....,,,,,:,,,,,,,::,,.,,::;:,,,,,,::;;''+++';;;;:;'';'''';;,.,,..`:#;............,,,,.......`
:::::      ,:,'''''''''''+++++++++++'++++++'''+''''''+'+++++++++++++++++++++++++++++++'''''''''''''';;;:,,.....,,,,,:,,,,,,:;:,,.,,:;:::,,,,:::;'''+'+';:;;:;'';;;';;;:,,..``;#;......................``
:::::      ,:,'''''''''''++++++++++++++++++'''+''''''''++'++'+++++++++++++++++++++++++'''''''''''''';;;::,,....,,,,,,,,,,::;;,.,..,:;::;:,,,:::;'''+'';;;;;;''';...,,::::,.``;#;....`.................`.
::,::     `,,,'''''''''''+++++++++++'+++++++''''''''''''+'++++++++++++++++++++++++++++'''''''''''''';;;::,,....,.,,,,:::::;;:,,,...:;:;:::::::;;'''+'''';;:;''';``````````.:;+@;..``````.............``.
::,::     `,,,''''+''''''++++++++++++'+++++''''''''''''++'++++++++++++++++++++++++++++'''''''''''''';;;::,,,...,.,.,,::::;;;,,,,.,,:;;;;:;:::;;;'''+'''';':;+'''```````````,#@@:````````````........``.,
::,::     `,,,'''';,'''''++++++++++++'++++++'''''''''''++'++++++++++++++++++++++++++++'''''''''''''';;;:::,,...,,,,,,,:::;':,,,,,::;++';:;;::;;'''++'''''':'+'''```````````,#@@:     `..````````........
::,::     `,,,'''';:'''''+++++++++++++++++++'''''''''''++'+++++++++++++++++++++++++++++''''''''''''';;;:::,,...,,,,,,,::;;:,,,,,,:;'';;;;;;;;;;'''+;'+'''';+''''```````````,#@@:`    `..`````````......,
::,::     `,,,''''++'''''+++++++++++++++++++'''''''''''++'+++++++++#++++++++++++++++++'''''''''''''';;;;::,,,,.,,,:,:,:,:::,,,,,,;'';;;;;;;;;;;'''+''++'''''''';```````````,;;;,``````..````````......,,
::,::      ,,,''''++'''''+++++++++++++++++++'''''''''''++''+++++++++++++++++++++++++++'''''''''''''';;;;:::,,,,,,:,::,,,,,,:;,,,,,::;;;;;;;;;;;;''#'+++'''+'++';`````````....```````.`..````````.....,:,
:,,::     `.,,''''++''''+++++++++++++++++++'''''''''''''''''++++++++++++++++++++++++++'''''''''''''';;;;:::,,,,,::,:::,,,,,,:';;;:,,:::;;;:::;:;;'@#+++++'+'+'';,.```````...```````.....````````....,,:,
:,,::     `,,,''''++''''++++++++++++++++++++''+''''''''''''++++++++++++++++++++++++++++''''''''''''';;;;;::,,,,,:;:::::,,,..,:,..::;;''#+;:::;;;;+@@++++''+'+'';;:```````...``````......````````....,,:,
:,,:,      .,,''''++''''+++++++++++++'+++++'''''''''''''''''++++++++++++++++++++++++++'''''''''''''';;;;;:::,,,,,;;';::,,,..,,,,...,,;;';::::;;;'#@@++++''+'+'''';.......,...`````...,,..`````.....,,::,
:,,:,      .,,''''++''''+++++++++++++++++++''''''''''''+'''+++++++++++++++++++++++++++'''''''''''''';;;;;:::,,,::;;'+::,,,..,,.,,,,,;;;;;::::::;'@@#++++''''''''';:,,:::::...````...,,,..````......,,;;:
:,,,,      .,,''''++'''++++++++++++++++++++'''''''''''''''+++++++++#++++++++++++++++++'''''''''''''';;;;;;:::,,::;;'''',,,,,.,,,,,,,::;;:,,::;;;#@@#++++'''+''''+';;;;;;';.....`....,:,...````....,,:;;:
:,,,,      .,,''''':'''++++++++++++++++++++''''''''''''''''+++++++++++++++++++++++++++'''''''''''''';;;;;;::,,,:;:;'++';,,,..,,::::::;;;:,,:;;;'@@@#+#++'+'+''';+';;;'''+',........,,:.`..````....,,:;;:
:,,,,      .,,'''':,''+++++++++++++++++++++''''''''''''''''+'+++++++++++++++++++++++++'''''''''''''';;;;;;:::,,:;:;''++':,....,,::::;;;:::,:;;'#@@@@##+'++'+''''+'';''++++:,.......,::.`..````....,:;;::
:,,,,      .,,''''''''+++++++++++++++++++++'''''''''''''''''++++++++++++++++++++++++++''''''''''''''';;;;;:::,:;;;;'+++';,,...,,:::::;;::,:;;;+@@@@@##+'##'++'''+'';'+++++',......,,::....`````...,:;:,;
,,,,,      .,.'''''''+++++++++++++++''+++++'''''''''''''''''++++++++++++++++++++++++++''''''''''''''''';;::,,,:;;+:;;'+'':,....,,,::::::::;;;'@@@@@@@+'+##''++';;';;;'''''',.......,:,,....```....,:::.:
:,,,,      .,,'''''++++++++++++++++++++++++''''''''''''''''''''+'++++'''''''''''''''''''''''';;;;;;;;;;;;:::,:;;''+::;';;',,...,,,,::::::;;;'+@@#####+'###''+'';:,....````````````````````    `
,,,,,      .,:'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''';';;;;;;;;;;;;;;;;;;;;;;;;;;:::::;::::;'#::::::;;,,.,.,,,:::::;;''+#@@#+##+'++##+'''+;,.`````    ` ``````   ```
,,,,,      .,;'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''';;;;;;;;;;;;;;;;;;;;;;:,,...,;;;;::''':;''''':,,,,,,,,:::;;''++#@#+++++++#+#+''++:..``````   ```````````````
,,,,,      `,:;''''''''''''''''''''''''''''''''''''''''''''''''''''''';';;;;;;;;;;;;;;;;;;;;;;;;;.`.......,;;;;:::''';;+';+',,,,,,::::;;'''++@###+++++#@#++'''';....``````````````````..``
,,,,,      `,.;'''''''''''++++++++++++++++++++''''''''''''''''''''''''''''''''''';;;;;;;;;;;;;;.`....,,,..,,:;;;,,,:;;;'';'';::,,::::;;''''++##+++++++#+#+'''''';:::::::::::::::::,,,::::,......`.``````
,,,,,      `..;''''''''''++++++++++++++++++'''''''''''''''''''''++++++++++''''''''''''''''''':`.....,,,,.,,,:;;:::,::;'';';';:::::::;;''''+'+##'+++''++++'''''++'++++#############++++++++++++++++++++++
,,,,,     `...;''''''''''+++++++++++++++++'''''''''''''''''''++++++++++++++++++++++'''''''''......,,,,,,,,,::::::::::;;';;;';:;''';;;''''''''#++''''''+++;;''+#+''++++#######@@@@@@#####++++++++++++++++
,,,,,   ``,,,,;''''''''''++++++'''+++'++++''''''''''''''''''''+++++++++++++++++++++''''''':.........,,..,,,,:::::,::;';';;;''::;'''''''''''''+'';;;;##++;;;'''+++''+'+++#####@@@@@@@##+'';;;;;''''++++++
,,,,,`.`..,,,,:''''''''''+++++++'++++'++++''''''''''''''''''''+++++++++++++++++++++'''''''..............,:,,,:::;'::;;:'::;;;;:;;;;;;''';;';''';;;'+#''';:;;''''+#+''''++##@@@@@@@@##+';;:;;;;'''''''+++
,,,,,`.`..,,,,:;;;;;;;;;''''''''''''''''''''''''''''''''''''''''++++++++++++++++++''''''',`...........,,,,,,,.,,,'::;;;;;;;;;:;;;;;;;;'';;;;'+'''++''';:;;'''';;;'+#+'''+++##@@@@##+';;:,,:;:;;'''''''+'
,,,,,`.`..,,,,;'''''''''++++++++++++'''''''''''''''''''';;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;`............,,,,.....,,,::;;:;';;;;::;;;;;;;;;;;;;'+++++'';;'+'';'';;;;;;'+#';'''+##@@##';;:,,,,:;:;;;;;''''''
,,,,,`.`..,,,.;''''''''+++++++++++++++++++++++++++++++++++++++++++++'+'''''''''''''';;''..............,,,....,..,..:,;;++;;;::::;;;;::;;;;;;''+++:;++#+++';;;;;;::::;'#+';;'+###+':,,,...,,:::;;;;;;''''
,,,,,`....,,,.;''''''''++++++++++#++++++++++++++++++++++++++++++++###########++++++++++'....`........,,,...........,,:;+';;;:,:::::::::::;;;';''+,;;'''';;;::;;:,,,,,,:'#+;;;'++;,..`.```.,::::::::;;;''
,,,,,`....,,,.;'''''''''''+++++++++++++++++++++++++++++++++++++++############+#++++++++.............,,,,,.........,,,,:+;::::,,::,,,,::::;;;;;;;::;:;;;:::::::::,....``.:+#':;';,`````````.,,,:,,,:::;;;
,,,,,`....,,,`;'+''''''''''++++++++++++++++++++++++++++++++++++#++######+####+++++++++'.............,,,...........,,,,:':,,,,,,,,,,,,,:::::;:::;,:;:::::;:,,,,,,,.```````,'@#';,.` ```  ``...,,,..,,,::;
,,,,,`....,,, :'''+++++;'+:@@@#########++++++++++++++++++++++++++++++++++++++++'+'''++..`..........,,.............,,:,:':,,,,,,,,,,,,,:::::::::,,::::::,:,,,,,,,.``      `:@@@+,`        ```..,.....,,,:
,,,,,  `..,,. :;;:#####;'+,@@@#++#####++++###############################+++++++++++++.............,,,............,,,::;:,..,,,,,.,,,,:::::::,:,,:::::::;,.,,,,,.`       `.#@@#`   `      ```...``....,,
,,,,,  `..,,. :;::#####;'+:+#++'+++++++++++#+##+#+##+++++#+##########################;............,,,........`....,,,,:;:,..,.,,,,,,,,,,:::::,,.:,::::,,:,,,,,,,.`        `#@@+`   ```     ```..````...,
,,,,.   ..,,. :;::#####;'+:;;;'::+''''++++++++++++++++''''''+''''''''''''''''+++++++#............,,,,............;,::,:;,,....,,,,.,,,,,,:::,,.,:,::::,,:,,,,:...,        `#@@+`   ```     `````````....
,,,,.   ..,,. :;::#####;,,:,,,,:.'''''++++''+'+'''''''''+++++++++++++++++++'+''''''''............,,,,...........,:,,:,::,,......,.,,.,,,,,:,,,.,:::::,,,,,,,::,.,,,       `#@@+`  ````      ````````....
,,,,.   ..,,. :;::#####,  ;';:;;,;;'''+'++''''''''''''''+++++++++++++#+++++++++++++#............,,,,............;+,,::::,,........,,,,,,,,,,,..::::::,,,,,,,:::,..,,      `#@@+`  ````      ````````....
,,,,.   ..,,. :'::####;`  ;';;+;,;:;'+++++++++++'''''''++++++++++++#++#+++++++++++##..............,,............+';,,::;,,.......,,..,,,,,,,...:::,:,,,,,,,,:::,,,,,,     `#@@+`  ````      ```````.....
,,,,.   ..,,. :'::##+#,.:`,,;::;,;.:'++++++#++++++++++++++++++++++####+##+##++++###;...........,.,,,,,.........'':;',:::,,......,....,,,,,,,..:::::,:,.:,,,,::,::,,,,,    `#@@'`  ````     `````.``.....
,,,,.   ..,,. :'::##+#.'''''''''''''''''+++++++++++++++++++++++++##+#+###+++#++++##........`...,,,,,..........:':.:;;,,:,,,....,,...,,,,,,,.,.::::,:,,,:,,.,::,:,,,,.,.   `#@@'`  ````    ``````........
,,,,.   ..,,. :'::##'+,,'++++++++++'''''''''''''''''''''''''''''''''''''''+++++++++...`....`...,,,...........;;,..,;,:,,:,,,.,,.,......,,,,.,,:::,,,,,,:,,.,::,,,,,,,,,`  `#@@'` ``````  ` `````........
,.,,.   ..,`` :'::#+'++'''''''''''''''''''''''''''''''''''''''''''';;;;;;;;;;;;;''.............,,,.......,:',.....,:.,,.:,,,,...,......,,,.,.:::::,,,,,,,.,,,:,:,,,,:,,,  `@@@'````````  ``````.........
,.,,.   ..``` :'::+';++#':;;;;;;;;;;;;';'''''''''''''''''''''''''''''';';;';;;;;;'...........,.,......`...........,:....:::,,,,,,,.....,,..,,,:,,,,,,.,,,.,,:,,:,,,,,,,,, `@@@'```````  ``````.........,
..,,.  `..``` :';:'';'++''+''+''''';;';;;;;;;;'''''''';;;;;;;;'''';;;;;;;;;;;;;;':............,,..,...............,,....,;::,,,,,,....,,,..,,:::,,,,,,,,,.,,,,,,,,,,,:,:,,.@@@'```````  ``````........,,
..,,.  `..,`` :;;,'',,'''+#+++'##++;'''++'''''''''''+'++++'''+'''''''''''''''''''............,,,,,...`............,,...,.;::,,,,,,..,.,,,,;+:::,,,,,,.,,....,,,,,:,,,,,,,,.@@@'```````  ``````......,,,,
.,,,`  `..,.  :;;:';   .,:+++'+#+';;''''+'''''''''''''+++++++++++++++++++++++++++............,,,.............`....,.....`;::,,,,,.;;'';;::+++:,,,,,,,,,,,..,,,,,,,,,,,,:,,,#@@'```````    ````.....,,,,,
..,,`  `...`` :+;:';`. ,+'';;:;+;;.,,'''+'''''''''''''++++++++++++#+#+++++++++##:...........,,....................,,.....;:,,,,,,::;;;;++++'+::,,,,,.,:,,..,,,,,,,,,,::,:::,@@'```````    ````...,,,,,,,
...,`  `..,`` :#':'';;,;+'''';'':;...'''+'''''''''''''+++++++++++##++++++++++##+...........,,,.,..................,,.....;::,,,,,,:;';'+'++''+,,,,,,,.:,...,,,,,,,,,:,,,::::'@'```````````````..,,,,,,,,
,,.,`  ``.,.` :#+:'+;:,;+':''''';;:,.'''+''''''''''''''+++++++++++++++++++++++#:.........`..,,,,..................,,...,.;:,,,,,:::;::;';;;';':,,,,,,.:,...,,,,,.,,,,,,:,::,:@;```````````````..,,,,,,,,
:,,,`  `.`,.  :#';;#;;;;'':''++''';;;'''+'''''''''''''''+++++++++++++++++++++++.............,.....................,......;:,,,.::::::::,,,,;::',,:,,..:....,,,.....,,,,::::::;;......````````..,,,,,::::
,:,,`  `.`.`  :#;':#+'#;';:'''+'''''''''''''''''''''''''''+++++++++++++++++++++............,.,........`.`.........,,.....':,,.,:,:,,,,,.,,,,,::;,:,,,,:.........,..,,,,,::::::;.........,.```..,,,,:::::
.,,,`  `..``  :+;';+++@;+;:'''+''''+''''''''''''''''''''''++++++++++++++++++++'...........,.......................,,.....;:,.::..::,,,,,,,,,,,,:;,,,,.:....,,.,....,,,,::::::,,........,,.```..,,:::::::
.,.,.  `..`   :+;;####@;+;:+'''''''++'''+'''''''''''''''''++++++++++++++++++++.............,........`.............,,....`;:,,,,..:,,,,,,,,,,,.,,:;.,,,,.....,.,...,.,,,::::::::..,,,,..,,.```..,,:::::::
,,.,.  `...`  :;::;'''';+;:+'''''''++'''+''''''''''''''''''+++++++++++++++++++............,.......................,,.....;:,:,,,;:,,,,.,,,,,,.,.,,:,,,:.......,.....,,,::::::::::::::::::,....,,::::::::
.:,.,. ``..`  :':;';';+;';:++''''''+++''++''''''''''''''''+++++++++++++++++++:............,...........`...........,,....:;:.,,::::,,,..,,,,,,,,,.,,;,,:....,........,,,:::::,:::++'+++''''''';;'''''''''
`,,,,. `.`    :;:;;:;:';';:++''''''++'''+'''''''''''''''''+++++++++'''+++++++......................................,....:':,,,,,,,,.,.,.,.,,.,,,.,,,:,,.............,,,::,::::::+++++++'''+++'++++++++''
.,,,,` `,` `` :':;';::;;+;:++''''''++''''+''''''''''''''''+++++++:  ```'+++++................................`....,...`.;;,,,,,,,,,...,.,.....,.,.,.,,....,........,,,,,::,,::,:++++++++''++'+++++++++++
:::,,. ````.  :':;+',:';+;;+++''''+++''''''''''''''''''''''+++++,`````,+++++:...................................,.,.....;',,,,,,,,....,,...,..,,..,........,.......,::,,::,,::::++++++++'+++++++++++++++
;;::.  ``     :':'+',:':+;;+++'''''++''''''''''''''''''''''++++:...```++++++.....................................,,,....';,,,,,..,....,,.......,,..........,.......,:,,,::,:,,::'++++++''+++++++++++++++
;;::,``..    `:;:';:,:;:+;;+++'''''++''''''''''''''''''''''+++:.`....,++++++......................................,,....'.,,,,........,,........,,................,::,,,::,,.,::;+''+++'''+++++'+++'++++
;;;,,`.,.    .:':'':;:::+;;+++''''+++''''''''''''''''''''''++'...`..,++++++:............................................'.,,,,.......,,......,.,,,.......,........,:,,,,,::,,::::::,,::::;;;;'''''''''''
;::,.`,.``  `.:':'+;++':+;;+++'''''++''''''''''''''''''''''+'......,+++++++.........`............................,......:,,,,.,...............,,,,.......,.......,,:,,,,,,,,.::::,,....,,::::;;;;;;;;;;;
;:,,:::,     .:':;''++':+;;++++''''++''''''''''';;':..''''''......,+++++++,.........`............................,.,..`,..,,,.,.....,.........,,.........,.......,::,,,,,:,,,::::,.....,,::;;;;;;;;;;;;;
;;,,:;::`  `  :+:'++++':+;;+++''''+++''''''''''..```.,,'+''.......++++++++.......................................,,....;,,,,,.......,.........,.,.....,.........,:::,,,,,,,,:::::,.....,,::;;;;;;;;;;;;;
;;:,.:;,`` `  :+:+#@@@#:+;;+++''''+++''''''''';`.`..,,::++,.....,+++++++++.......................................,,....;,,.,.................,,,,...............,:;,,,,,:,,,:::::,,....,,::;;;;;;;;;;;;;
;;:,.,:.`.`.` :+:''#+@+:+;;+++'''''++'''''''';.,...,::::'....``.+++++++++:.......................................,.....:,,,,.......,........,,,,,...............,;::,.,,,,,::::::,,....,,::;;;;;;;;;;;;;
':,:,,:,`...``:+:++@#@':+:;+++'''''++'''''''.`...,,,::::.`````..+++++++++.......................................,,.....,,,.,........,.........,,........,......,,;:,,,,:,,,::::::,,...,,:::;;;;;;;;;;;;;
;,,:::,,,,.,``:+:+#@@@#:+:;++++''''++''''''.`..`.,:::::.,.,.``;+++++++++'....,...,,....,........................,......,,..,........,..........,,.......,......,:::,.,,,,,,::::::,,,,,,,:::;;;;;;;;;;;;;
;::;::::,.,,``:+:++@#++;+:;++++''''++''''''`..``.,::;;,::::;++++++++++++..,.,..,.,,............................,,,.....,,.,.......,.,,..,.,...,.,..............,::::.,,,,,,:::::;,,,,,,,::;;;;;;;;;;;;;;
;;;;,.;.,.;:..;#'#+@#+#;+:;++++'''+++'''''``..`..,:''::;;::++++++++++++;...,,..,,........,......`...............,,.`..,,,.,................,,.,..,.....,,,,..,,,:;:,,,,,,,::::::;,,,,,,,::;;;;;;;;;;;;;;
;;;;:,,`::;'..;#'##@##+;+:'++++'''+++'''''....`..,;';;::::'++++++++++++.........,,......,.......`..............,,,...`,,,,.................,...,.............,,,;:,,,,,,,,::::::;,,,,,,,:::;;;;;;;;;;;;;
;;;'`.,,:;';``:+;++@+#';+:;++++''''++'''',`..``.,`..';;;:,,++++++++++++`.......,,,,............................,,.....:,,,............,....,,,,.,.............,:;:,,,,,,,,:::;;;;:,,,,,:::;;;;;;;;;;;;;;
'';;`.;,:;;;. ;+:'''''';+:'++++''''++''''`````.`. ;:;'@;,,,:+++++++++++.....,.,,,,,............`...............,,.....:``.,..............,......,............,,:;::,,,,,,,,:::;:;:,,,,,:::;;;;;;;;;;;;;;
;''':;,:;;;:,.;+:+#+''+;+:'++++''''++'''+ ````.`..`@@@@:,,,,'++++++++++....,,..,,.,............................,,.`...,` ,.............,,.,,..,,............,.,:;:,,,,,,,:::::;:::,,,,:::;;;;;;;;;;;;;;;
;';',,`:;':,..;+:'''''';+:'++++''''++''';`.````.,'.'@@@:::,,:++++++++++.....,.,,,.,............................,,.....,`:,,........,,..,..,.,.,,,............,,;;:,,,,,,::::::::;:,,,,,::;;;;;;;;;;;;;;;
'';;.`,:';:,  ;+:'''''';+:'++++''''++''' `...`..:#++##;;;;:::++++++++++`....,.,,,,,,..........`................,,....,..,........,.,.......,,..,,............,:;:::,,,,,::::;:::::,,,,:::;;;;;;;;;;;;;;;
'';;,.;;';:,  ;':;';;;;;+:'++++''''++'';`.,.....;#+##';;';;;;;+++++++++.,...,,,,,,,,.....................,...........:,,,..........,..,.....,,.,..,.........,,:;::,,,,,,,,::::::::,,,,::;;;;;;;;;;;;;;;;
''';,,,';;,,  ;+:##'''';+:'++++'''+++'':`,,..``,;###++;;;;;;;:++++++++'.,,...,,,,,,,............`.............,,....`:,,...............,..,,,..........,....,:;;::,.,,,,,:,::::::::,,:::;;;;;;;;;;;;;;;;
'';:: `';:,, `;+:#@+;++;+:'++'+'''+++'':`,,.,``,;##+++'';;;;;:++++++++'..,...,,,,,,,,..........................,.....:,...........,..,.....,,,..............,';;::,,,,,:,,,:::::::::::::;;;;;;;;;;;;;;;;
'';:;` ;;;;:..;+:#;;;;;;+:'++++'''+++'''..,,,``,+##''+'';;;;;;'+++++++;..,,.,,,,,,,:,........`................,,.....,,...............,..,.,,,,....,..,....,;;':::,,,,::,:::::::::::::::;;;;;;;;;;;;;;;;
'';''; :'''';;;':;'@@#;;+:'++++'''+++''',,..,,:;+#''''';;;;;;;'+++++++',.,,.,,,,,,,;:.......`.................,......:........,..,.......,,,,,,.....,.....,,';;:::,,,,::::::::::::::::::;;;;;;;;;;;;;;;;
'';''':,;;;;;;;+:'#@#@+;+:'+'++'''+++''+;...,::;'+'''';;;;;;;;;+++++++',,,:,,,:::,,::.........................,.....,:....................,,,,,.......,...,;;';:,:,,,,,::::::::::;::::::;;;;;;;;;;;;;;;;
';:;''':::;;;;'+;+@@##+;+:'++++''++++''++.,,,,,;;'';;;;;;;;;;;;'++++++'.,.:,,,,,:,,::,.....`..................,.....;,.......,...........................,,'';;:::,,,,,,:::::::::;::::::;;;;;;;;;;;;;;;;
'';;''';:''';:;#+@@@@#+;+:'++++''++++''++',,,:.,;;';;;;;;;;;;;;:++++..,,,,,:,,,,:,,:;:.....`..................,.....;,........................,......,..,,:';:::::,,,,,:::::::;:;;:::::::::;;;;;;;;;;;::
'''''''',.'';:'#@#@@#+';+:'++++''++++'++++;,::,,;:;;;;;;;;;;;;;;'';...,.,,.:,,,,,,::;:........`....,.........,......,...........,..,.,....,...,,,......,,:''::,:,,,,,,::::;::;;:;;,,,,,...,,,,,::;;;::::
'''''''';`.';:'#';:@@+';+:'++++''++++'+++''';;';;;;;;;;;;;;;;;;;:......,..,.:,,:,,,:;:..............................................,........,,,,,,..,.,::';;:::,,,,,,:::::::;::;;,,,,....,,,,::::::::::
'''''::+':.;::'#,::@@@+;+:'++++'+++++++++':'+++';;;;;;;;;;;;;;;;:,.....,...,,,,,:,,,;:....`....................``..,...`............,.........,.,,,..,,,:;';:,,,,,,,,,:::;;::;::;;,::::::;;;;;::::::::::
'';''',.';;:`.'#;:;@@@';+:'++++'++++++++:``.:++++;;,`:;;;;;;;;;;;:......,,,,,:,,,:,:;:................,......,.....,.............,.......,.,,,.,.,....,::+;;:,,,,,,,,:::::::::::;;;;;';;;;;;;;;;;:::::::
+';'';'`,;,. .'@#'#@@#';+:'++++'+++++++:``..``;++.` ````.,.`  .;;;:,,,,.,';:,,:,,,,::,.......................,.....,.............,.......,..,....,..,,,;;';;:,,,,,,,,:;::::::;;:;;''''''';;;;;;;;:::::::
''''';':`';  .'#'@@@@#';+:'+++'+++++++: ` ``````` ``````` ``     `,::,,,.:';:,,:,,::;,.  `........,..,..,...........................,,.....,,.,,,...,,::;';;::,,,,,,,::::::::;;:;;''''''''';;;;;;:::::::
'';;;;;',''; .'+;@@##++;+:'++++++++++,`      ````   `        `       `.,,.;,;,`...,,.   ``.......,...,..............................,......,,.,,,,.,,,::'';;::,,,,,,::::::::::::;;''''''''';;;;;;;::::::
';;;;:;';'''.,'':'++@#';+:'+++++++++'           `          `  ````````  ..` `.``    ` ````,..,...,.,,.............,...............,..,.,...,...,,..,,:;;+';::,,,,,::::::::::::::;;'''''''''';;;;;;::::::
'':,,,:;;'';;;'';+#+++;;+:'++++++++.                        `` ````      ``             ``..,,,.,.,,,,...,..,,....:..........,........,.,.,,,..,,..,,:;'+;':::,,,,::::;:::::::::;;'''''''''''';;;;::::::
`;:,:;;;'';;:'';'''''';+:'++++++++                          ````````    ```````       ``..,,,,,.,.,,,....,..:,...,.................,...,.,.,,,,,,,,:;;++';:,,,,,:::::::::::::::;;'''''''''''';;;;::::::
` ::,::::,,,,:'';'+''+;;+:'++++++++                          ````````   ````````` ``  ``.,.,.,,,,,,.,.........``...,................,....,.,,,,,,,,:;;'#';;:,:,,,:;:;;:::::::;;:;;''''''''''';;;;;;:::::
` .,,,,,,,,,,:;':'''+';'+:'++++++++,.``,,     ```         ``````````````.```````````.``.`..,.,,,,,,..,....,.,.``.,..............,....,.,.,,,.,,,,,:;;;'+'::,,,,,,:;;:;:::::;:;:;;;;'''''''''''';;;;:::::
.``,,,,,,,,,::'':''''';;+:'+++++++++...,,.``  ```  ```` ````.`.......``......`........```.`..,,,,,,.,.,,......``.,,.............,.,,,,...,,,.,,:,,:;;''';::::,,,,::::::::::::;:;;;;'''''''''''';;;;:::::
.. ...,,,,,,:;'';@@@@#;;+:'+++++++++..,,.,,,.``````....`......,,,,,,,,,,:,:::::::::;;:::...,::,,,,,,,..,,,....,.,,..............,...,,..,,,,,,,,:::;''+':;::,,,:,::::::::::;:;:;;;;''''''''''''';;;;;:::
`. ..,,,,,,,:;;';@'::';;+:'++++++++'...,,,,,,,,,,,..,,,,,,::::::::::::::::::::::::::::::;;;;;,,,,,,,,.,,,,......,:,...............,.,,..,,,,,,,,:,;;'''';;::,,::::;::::::::::::;;'''''''''''''''';;;;:::
`. `,,,,,,,,:;;';',..,:;+:++++++++.`...,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::;;;;;;,,,,,,,,,,,,,,......,,..............,..,,,,,,,,,:,,:;;;';'';;::,,,:;::::::,:::::::;;'''''''''''''''';;;;;::
 `,,,,,,,,,;;;;,.,,.,;+:+++++++'   `.,,,,,,,,,,,,,,,:,:::::::::::::::::::::::::::::::;;;;;;:,.,,,,,,,,,.,.....,,,..,............,..,.,,,,,,::::;;';;'';;;;:,:::::::,:::::::;:;;'''''''''''''''';;;;;:;
  ,,,,,,:,,;;;,.,,,.,;+:++++++++`  ``...,.,,,,,,,,,,,,,,:::::::::::::::::,::::::::::::;;;;;,..,,,,,,,,,,,.,...,,.,::::.......,,.,,,,,:,,,::::,:;;;;;;';;;;::::,::,,,:,:::;:;:;;'''''''''''''''''';;;:'
`   .,,,,::,,;;:,,:;:,:'+:++++#+++.`        ````...,..,:::::,,,,.,,...`````....,..,:,,.,::,,...,,,,,,,,,,,,,,...,.`,::::,....,,.,.,,,,,:,,,,::,,;;;;:;;;;;::::::,,:,,,:::::::::;;''''+'''''''''''''''';;
,   `,,,,::,.;;;,,'##::'+:++++#+++:```      `     ``` ```.`````````  ````````.````...,`.,.`..,,,,,,,,,,,,,,,.,,.,...:;;;;,..,....,,,,,,,,,,,::,:;;;;::;;;:::::,,,,:,,,,,:::::::;;''''++'''''''''''''''''
,    ,,::::.`'';,;@@``:'+:+++#++++.,,:.`` ``` ```..``````````    ````````````......,,,.,,,..,,.,::,,,,,,,,,,.,...,,,;;;;;,,..,.,.,,,,,,,,,,:::::;;;;::'';:;:::,:,:,,,,,::::;;::;;+++++++''''''''''''''''
,`   ,::::,`.'';,+@#  `'+;+++++++' `..,,.``````,,............,,.`....... ```..,,,,::::,::::.,,,,::,,,,,,,,,,,....,::;;''';,.,,,,,,,,,,,,,,,::::;;:::::+'::;;:,,:,,,,,,,::::;;::;'+++++++'++'''''''''''''
,.   .:,,..`,:,``,,..```` ``` `,.   `.,,::,..,::,,,,,,,,:,,,,,::::::::;.``.,;;;;;;;;;:;;;;;'',:,,:,,,,,,.,,.....,,;;';'''';,,,,,,,,,.,,,:,,::,::::;:::+;;;;;:,,,::,,,,,:::::::;;'++++++++'''''''''''''''
,.   `...````..````....``...,,``.``   .,,,::::::::::::::::::::::::::::::,,,;:::::;;::;;;;;;;',::,:,:,:,,,.....,,,:;''''''';;;;,,:,,,,,,,,:::,,::;;:;::+;;::::,,,,:,,,,,:::::::;;++++++++++''''''''''''''
.`    `.```` ``` ```,::`,:;;;::`:.`..` `..,::::::::,,:::::::::::::::::::;;;;::;::;:;;;;;;::;':::,:::::,,......,,::'++''''';;;++:,::,:,,,,:,::;;;:::;;;';;:::::,,,,,,,,::::::::;;+++++++++++++'+'''''''''
`   ...````````````,``::,.`````.`..,...` `.```.,,,,,::::::::::::::::::::,,,,.:::::,:,,,.,;;::::,,,,:,.....,,,,::'''++'';';;##+':::::;::::::::::;;;;;';;::::,,,,,,,,,:::::;::;;++++++++++++++'+''''''''
```   `..```..``.`.`````.` ``````:`..,.,,,,`````  ` ``...,,,,,,,,``.`````````...,,,::::::;;;;,,,:::,,,.,.,,,::;::;''''+'''';+###+:::::;::::::;:;;;::;'';::::::,,,,,,,,,:::::::;;+++###++++++++''''''''++
```    ...`..`...`..````   ` ``````.,,,,,,,:,,,.`.``...``````````.....,,.....,,::::;;;;;;;;;',,,,,,,,,,,,:::::;;;;;''+''''';#####+:;::::;:::;;:;;;;;;+';:::,,,,,,,,,,:,:::;:::;;######++++++++++++++++++
...```..`.........````  ```````````.,,,,,,,::::,::,,:::::::::::::,::,::::::::::::::;:;;;;:;;':,,,.......,,:;;:;;;;;'++'''';'######';:;;;;::;;;;;;;;;;++';:,,,,,,,,,,,,::::;;::;;######++++++++++++++++++
```````....`...```        `````````,,:,,,,::::::::::::::::::::::::::::::::::::::::;;;;;:;;;;;,,,,,,,,,,.....,;;;;;''+''''';+####@##;;;;;;;;;;;'';;;;'++';;:,,,,,,,,,::,:::;;::;;######+++++++++++++++++#
...`````````````           `` `` ```:;;::::::::::::::::::::::::::::::::::::::::::;;;;;;;;;:,,',,,,,,..........,;;'+++;'''''+#######;;'';';;'';'';';;'+#+';;:,,,,,,:,,:,:::;:;;;'######+++++++++++++++###
``..`` ``````````````````````````````.:;;;;::;:;;:::::::::::::::::::::::::;;:;;;;;;;;;:,,:'+';,,................'+++'''+'++#@##++@@';;''';''';'''';''+#+;;;;:,,,,,:,::,::::::;;+#####++++++##++++++++###
`...`` ```.```````..`````````````````````.,:;:;'''';;:::,:,,,:;:::::::::;:::::::::;''''++';:,,,,.................''++'''+'#@@@#.@@@';;:;'''''''';;';'+#';:::::,,,,,:::::::;::;;########+++++#+++++++++##
....`````..`.``````...````..,.`...``````````````...,:::;;'';'++'''''''';',+''++'''',:::,,,,,,.....................'''+++'+#@@@#'@#@';;;;:''''''';';''';;:,,,,,,,,,,,:;:#;;;::;;########+++++++++++++##@@
.....```````.```````..`````,.``......,,.`````````````````..........................................................''++'+#@@@@@@@'+;;;;:;;''''++;'''+;::,,,,,,,:::,::;;+#::::;;@#####++++++++++++###@@@@
...`..` `````````````.````.,```...``````....````````````````````````````````````.......,,,,,.......................,@+++###@@#@+@@';;;;:::;;'++#''''+;:,,:;;;;:::::::@;+#::::;;####++++''''++#####@@@@@@
...```` `````.`````````..`,.``....``````..,,,..````   ``````````````````````````.:;:;::,,,,,,,,,''';,...............;@###@@@#@@@@+':;;;:::;;++###';'+';;,,,,:;;;;;:;'@'##::::;'##+++'''++#########@@@@@@
....``````````````````.``..```....```````.,,,.+'```` ``````````````````````````..,+++:,,,.,,,,,,,:::::,............,.#@#@@@###@@@';;;;::;;::'####''';;;,;;`:,.:,,::;;;'#'::::;+#++'+++##########@@@@@@@@
..```````````..````````...````....`````...,,,.++;`````````````````````.````.``....,+',,,,..,,,,,,.,,,,::,...........#:+@@@@#@@@@#::;;:::;;;'+#####+''':`;: .  : ``,.;;+#'::::;##+++++##########@@@@@@@@@
......```````...``.``````..`......`````.,,,,,.+++,` `..````````````````````..`....,+;,,,.,,,,.,,,,,,,,:::,,.........:+@@@@@@@@@#;;;;:;::::';+#####++'+:,'; :..;.,,;:''##@+;::;@@##++############@@@@@@@@
,,,,.```````.....``...``````......`````.,,,,..++++..+++'.`````````````..`.......,''':,,,,,,,,,,,,,,,,,:::,,,,........#@@@@@@@@@+;;;;;:::::''':;'+#++'+:,'; :..;.:,;''+###+;::;@@###############@@@@@@@@@
``,,.````````.....``......``......`````.,,,,..+++#++++##+:`````````````.......:''''',,,,,,,,,,,,,,,,::::,,,,;;:......,@@@#@@###;;;;;;::::;;';:;;:,,.`:.`:,`;;,:''''+++'+#@'::;@@################@@@@@###
````.````````.....```.``````......`````.,,,,.,+++++#+++#++;``````````.......;++'+''',,,,,,,,,,,,,,,,:::,,,,,+;:;,.....:#@'+#@#';;;;;::::::;':;''++';::,,:,`;;::;''''''#@#':::'@@###################+++++
`````````````.....``````  ......,.`````.,,:,.,.++'###+'+#++;`````````..`.,'++++++''',,,,,,,,,,,,,,,,:::,,,,,+':;::,....;'''++'';;;;;:::::::'::.;'';;:;;;;;,'+''+++++#@@@@':::'@###++++++#+#####++'''++++
````````..```.....```````......,,..`````,::,.:.++.###;.+#'#+,`````````.,'''++++'+''',,,,,,,,,,,,,,,,::,:,,,,+;::::::...,;'''++'';;;;;::::::'::.;'';:,:;,,:`;':;'+''+#@@@#+;:;#@##+++++++++++'''''+++++++
``````````.``.....```````......,,..`````,::,.;+##;###:.+#.#+,,``.```.,:'''+++++++''',,,,,,,,,,,,,,:,::,,,,,,';::::;;:,..:;'''++'';;;;::::::':;`;'+;:::;,,:`;':;'+''+#@@@@+;:;#@#++++++++''''''++++''+++#
``````````.````...``````......,,,,.`````,::,.'#######+++#;+',,,..`.,::::''++##;:'''',,,,,,,,,,,,,,::::,:,,,:';;:::;;::;,.:';'++'''';;::::::':;.'++;:,:;,,:`;':;'+''+#@@@@+:::###++++'''';'''+++''''++#@@
````````````````..``````.....,,,,,..````:::,.+##########+++:,,,,.,::::::';,###:`''':,,.,,,,,,,,,,,::::::,,,'';;::::::::;;;;;'+++'''';;;::::':;.'++':::;,,:`;':;'+''+#@@@@':,;##++''';;'''++'''''''+#@@@@
````````````..```.````.......,,,,,,.```.:::,,###########+++:,,,,:::::::''''+++,,'',,,,,,,,,,,,,,:,::::::::,'';;::::::::;;;;;'''++'''';;;;::':;,'++';:,;,,:`;':;'+'++#@@@@'::;++'''''++++'''''''''+@@@@@@
``````.```.`...``...`````...,,,,,,,.```.:::,:###########+++,,,,::::::::;'''''''''';,,,,,,,,,,,::::::::::,::++;;:::::,::;;;;;''''+#''';;;;;:':':'++';,,;,,: ;'::'+''+#@@@@+::''''+++++''''''''''+@@@@@@@@
``````.```.......`````......,,,,,,,.```.:::::++++++##++++++,,,,::::::::;'++++''+''',,,,,,,,,,:::::::::::,:,+';;::::::::;::;;;;';'+#''';;;;;':;;'++';,,;,,: ;'::'+''+#@@@@+:'####+''++''''''+##@@#@@@@@@#
``````.`````...............,,,,,,,,.```.::::;++++##++###+++,,,,::::::::;''+++++++';,,,,,,,,,,,:::::::::,,::+';;;:::::::::::;;';;''#+''';;;;':;;'++';,,;,,; ;'::'+''+#@@@@+'+'''+++''''''#@@##@##@@#@@###
``````,.````.......,...`...,,,,,,,,.```,::::'##+##++++++#++,,,:::::::::;'''++++++':,,,,,,,,,,,::::::::::,::+';;::::::::::::;;;';';'#+'';;;'':;;''+';::;,,: ;'::'+''+#@@@@+++++++++';'#@@@#####@@#@@####@
</pre>
<h4>"Life is too complicated not to be orderly. Everyone needs their own Task Manager account!” --Martha Stewart</h4>
